<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>DIAN (Dashboard Inteligent & Alerting Network)</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="assets/images/logo-sm2.png">
        <!--<link rel="stylesheet" href="../plugins/morris/morris.css">-->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
        {{!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&family=Aldrich&family=Varela+Round&display=swap" rel="stylesheet"> --}}
    </head>

    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">
                <div style="position:absolute;margin-top: 12px;z-index:99;margin-left:48px;">
                    <a href="/" class="logo">
                        <span id="titlelogin" style="color: #fff;font-size:16pt;">
                            MELASTI
                        </span>
                        <span id="sublogo" style="font-size:8pt; color: #fff;vertical-align: middle;text-transform: none;font-family: 'sf-pro','Roboto', 'sans-serif';">
                            Monitoring Environment and Alerting Smart Site Integrated
                        </span>
                    </a>
                    <br/>
                </div>
                <nav class="navbar-custom" style="margin-left: 0px !important;min-height: 56px;">
                    <ul class="navbar-right d-flex list-inline float-right mb-0">
                        <li class="dropdown notification-list">
                            <div class="dropdown notification-list nav-pro-img">
                                <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="color: #fff !important;line-height: 58px !important;padding-left: 6px !important;">
                                    <span id="username" style="font-weight: bold;">{{ username }}</span><i class="mdi mdi-18px mdi-chevron-down" style="float: right;margin-left: 2px;"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                                    <a class="dropdown-item" href="/user/edit"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="/logout_process"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                </div>                                                                    
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 10px 10px 10px;border-right: 2px solid white;">
                        <div style="margin-top:11px">
                            <img src="assets/images/Logotelkomsel-new.png" style="height: 30px;">
                        </div>
                        &nbsp;&nbsp;&nbsp;
                    </ul>
                </nav>
            </-div>
            <!-- Top Bar End -->

            <script src="assets/js/1.7.1/jquery.min.js" type="text/javascript"></script>
            