{{> head}}
<style>
    input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        -webkit-appearance: none;
    }
    input[type=radio] {
        width: 17px;
        height: 12px;
        margin-top: 0.2rem;
    }
    .pagination{
        padding-left: 130;
    }
    .table tbody td:first-child{
        font-size: 14px;
        font-weight: 600;
    }
    .table td, .table th{
        border: none;
        vertical-align: middle;
    }
    .table tbody tr{
        box-shadow: 0px 8px 64px 16px rgba(96, 91, 87, 0.04);
        border-radius: 12px;
        height: 60px;
        font-size: 12px;
    }
    .table{
        border-collapse: separate;
        border-spacing: 0px 0.7em !important;
    }
    .tdactivehover{
        border: 1px solid #8deaff !important;
        border-width: 0 0 0px 8px !important;
        border-radius: 10px;
    }
    .warna{
        text-align: center;
    }
</style>
    <body>
        <div class="container2" style="max-width: none;padding: 0px">
            <div class="sidebar bgcolor-white" id="sidebar">
                <div class="header" style="margin: 24px;">
                    <div class="list-item">
                        <img src="assets/images/logo2.png" style="width: 13vw; height:10vh">
                        <!--<img src="assets/images/nav/Logo.png" alt="" class="icon" style="width: 48px;height: 80px;">-->
                    </div>
                </div>
                
                <div class="main ">
                        <div class="list-item">
                            <a href="/">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Home.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Home2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Dashboard</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/pos">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Sales.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Sales2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Point of Sale</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/transaksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Transaction.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Transaction2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Transaksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/akunting">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link activebuttonon">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Accounting.png" alt="" class="icon" style="float: left;display: none;">
                                    <img src="assets/images/nav/Accounting2.png" alt="" class="icon activebuttonimage" style="float: left;">
                                    <span style="margin-top:4px;" class="description activebutton2">Akunting</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/produksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Production.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Production2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Produksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/stok">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Stock.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Stock2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Stok</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/datauser">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/User.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/User2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Pengguna</span>
                                </div>
                            </a>
                        </div>
                        
                </div>
                <div class="main2" style="margin-bottom: 16px;">
                    <div class="list-item">
                            <a href="/logout_process">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description color-red">Keluar</span>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
            <div id="buttonminimize" style="position: absolute;top:240;left:244;transition: all ease-in .2s;cursor: pointer;">
                <img src="assets/images/nav/Button.png" alt="" class="icon" style="width: 40px;height: 40px;">
            </div>
            <div class="main-content" style="flex: 1;">
                <div id="headnav" class="">
                    <nav class="navbar-custom bgcolor-white" style="min-height: 44px;">
                        <ul class="navbar-right d-flex list-inline float-right mb-0">
                            <li class="dropdown notification-list">
                                <div class="dropdown notification-list nav-pro-img">
                                    <a class="" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="line-height: 48px !important;">
                                        <i class="mdi mdi-18px mdi-chevron-down" style="float: right;text-align: center;width: 40px; margin-right: 8px;"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <!-- item-->
                                        <a class="dropdown-item" href="/user/edit"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout_process"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                    </div>                                                                    
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 0px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:0px">
                                <img src="assets/images/nav/Profile.png" style="height: 30px;">
                            </div>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 10px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:6px" id="username" class="color-grey">
                                {{username}}
                            </div>
                        </ul>
                    </nav>
                    <!-- Top Bar Start -->
                </div>
                <div class="main-pages" style="padding:24px 40px;">
                    <!--modal Tambah Data-->
                    <div class="modal fade" id="modaltambahdata" tabindex="-1" role="dialog" aria-labelledby="modaltambahdata" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="margin:1.25rem auto;max-width: 365px;">
                            <div class="modal-content" style="background-color: #FFFFFF;">
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form id="uploadForm"  enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <img src="assets/images/logo2.png" style="width: 10vw; height:7.8vh">
                                                <span class="ht6" style="    margin-left: 8px;vertical-align: middle;font-weight: 600">| Tambah Data</span>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: 0.5px solid #6b6865;transition-duration: 0.2s;border-radius: 16px;padding: 0px 8px 8px 8px;margin-top:8px;">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="col-md-12 mt-3 mb-2">
                                                <div class="col-md-12" style="padding: 0px 50px">
                                                    <div class="row">
                                                        <div class="col-md-6 form-check">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptionsadd" id="inlineRadio1" value="1">
                                                            <label class="form-check-label ht9" for="inlineRadio1">Debit / Pemasukan</label>
                                                        </div>
                                                        <div class="col-md-6 form-check">
                                                            <input class="form-check-input ht9" type="radio" name="inlineRadioOptionsadd" id="inlineRadio2" value="2">
                                                            <label class="form-check-label ht9" for="inlineRadio2">Kredit / Pengeluaran</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-1">
                                                <div class="row" style="padding: 0px 20px 0px 30px">
                                                    <div class="col-md-10 pilihan" id="" style="padding:0;">
                                                        <div class="ht82" style="">
                                                            <div class="dropdown" style="font-weight: 600;">
                                                                <a style="color: black;background-color: #fff;width: 100%;text-align: left;padding:0px 4px;border-color: #ced4da;" class="ht8 btn btn-secondary dropdown-toggle" href="#" role="button" id="pilihancategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                    <span class="ht9">Category</span>
                                                                    <span class="caret" style="padding-right: 46%;"></span>
                                                                </a>

                                                                <ul class="dropdown-menu isicategory" aria-labelledby="pilihancategory" x-placement="top-start" style="overflow: hidden;position: absolute; will-change: transform; width: 100%; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                                                                    <li data-value="assets/images/icon_category.png">
                                                                        <a class="dropdown-item" href="#">
                                                                            <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                            <span class="ht9">Pemasukan Harian</span>
                                                                        </a>
                                                                    </li>
                                                                    <li data-value="assets/images/icon_category.png">
                                                                        <a class="dropdown-item" href="#">
                                                                            <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                            <span class="ht9">Pengeluaran Harian</span>
                                                                        </a>
                                                                    </li>
                                                                    <li data-value="assets/images/icon_category.png">
                                                                        <a class="dropdown-item" href="#">
                                                                            <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                            <span class="ht9">Employee Salary</span>
                                                                        </a>
                                                                    </li>
                                                                    <li data-value="assets/images/icon_category.png">
                                                                        <a class="dropdown-item" href="#">
                                                                            <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                            <span class="ht9">Treasury</span>
                                                                        </a>
                                                                    </li>
                                                                    <li data-value="assets/images/icon_category.png">
                                                                        <a class="dropdown-item" href="#">
                                                                            <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                            <span class="ht9">dll</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button id="addnewdata" type="button" class="ht9 btn btn-outline-primary bgcolor-primary-linear-gradient" style="padding: 10px;border-radius: 8px;"><i class="fa-regular fa-regular fa-square-plus" style="font-size: 13px;"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2" style="">
                                            <div class="form-group">
                                                <textarea style="font-size: 8pt;" form="uploadForm" class="form-control" id="deskripsi" name="deskripsi" rows="3" placeholder="Deskripsi"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2" style="">
                                            <div class="form-group" style="margin-bottom: 0;">
                                                <img src="assets/images/icon_calendar.png" style="position: absolute;width: 16px;margin: 13px;">
                                                <input style="padding-left: 48px;font-size: 14px;font-size: 8pt;" type="date" name="date" class="form-control data1" id="date" placeholder="dd-mm-yyyy" min="1997-01-01" max="2030-12-31" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2" style="">
                                            <div class="form-group">
                                                <img src="assets/images/icon_wallet.png" style="position: absolute;width: 16px;margin: 13px;">
                                                <input style="padding-left: 48px;font-size: 14px;font-size: 8pt;" type="text" name="nominal" class="form-control data1" id="nominal" placeholder="Nominal" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="containerupload">
                                                    <input type="file" class="upload_hide" id="upload_bukti" name="upload_bukti" multiple="">
                                                    <input type="text" class="" id="desk" name="desk" multiple="" value="desk">
                                                <label for="upload_bukti" class="upload_label">
                                                    <div class="image">
                                                        <img src="" alt="" style="display:none;padding: 10px;width: 80%;">
                                                    </div>
                                                    <p class="drag_text drag_text2" style="font-size: 12px;font-weight: 600;">Masukan Bukti Kwitansi</p>
                                                    <p class="drag_text2">Seret File atau Pilih Gambar</p>
                                                    <i class="drag_text2 fa-regular fa-square-plus"></i>
                                                    <p id="infoupload" class="" style="text-align: right;padding-right: 8px;display: none;">
                                                        <img src="assets/images/pos/icon_upload.png" alt="" style="width: 16px;height: 16px;margin: 0px 6px 6px 0px">
                                                        Ganti Design
                                                    </p>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <button id="adddata" type="button" data-dismiss="modal" class="ht8 btn btn-outline-primary bgcolor-primary-linear-gradient" style="width: 100%;">Tambah Data</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--modal Tambah Data-->
                    <!--modal Edit Data-->
                    <div class="modal fade" id="modaleditdata" tabindex="-1" role="dialog" aria-labelledby="modaleditdata" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="margin:4.25rem auto;max-width: 365px;">
                            <div class="modal-content" style="background-color: #FFFFFF;">
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form id="uploadFormEdit"  enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <img src="assets/images/logo2.png" style="width: 10vw; height:7.8vh">
                                                <span class="ht6" style="    margin-left: 8px;vertical-align: middle;font-weight: 600">| Edit Data</span>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: 0.5px solid #6b6865;transition-duration: 0.2s;border-radius: 16px;padding: 0px 8px 8px 8px;margin-top:8px;">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2" style="">
                                            <div class="form-group">
                                                <textarea form="uploadFormEdit" style="font-size: 8pt;" class="form-control" id="deskripsiedit" name="deskripsiedit" rows="3" placeholder="Deskripsi"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2" style="display: none;">
                                            <div class="form-group">
                                                <img src="assets/images/icon_wallet.png" style="position: absolute;width: 16px;margin: 13px;">
                                                <input style="padding-left: 48px;font-size: 14px;font-size: 8pt;" type="text" name="iduseredit" class="form-control data1" id="iduseredit" placeholder="id" value="" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2" style="">
                                            <div class="form-group">
                                                <img src="assets/images/icon_wallet.png" style="position: absolute;width: 16px;margin: 13px;">
                                                <input style="padding-left: 48px;font-size: 14px;font-size: 8pt;" type="text" name="nominaledit" class="form-control data1" id="nominaledit" placeholder="Nominal" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="containerupload">
                                                <input type="file" class="upload_hide" id="upload_bukti2" name="upload_bukti2" multiple="">
                                                <label for="upload_bukti2" class="upload_label">
                                                    <div class="image">
                                                        <img src="" alt="" style="display:none;padding: 10px;width: 80%;">
                                                    </div>
                                                    <p class="drag_text drag_text2" style="font-size: 12px;font-weight: 600;">Masukan Bukti Kwitansi</p>
                                                    <p class="drag_text2">Seret File atau Pilih Gambar</p>
                                                    <i class="drag_text2 fa-regular fa-square-plus"></i>
                                                    <p id="infoupload2" class="" style="text-align: right;padding-right: 8px;display: none;">
                                                        <img src="assets/images/pos/icon_upload.png" alt="" style="width: 16px;height: 16px;margin: 0px 6px 6px 0px">
                                                        Ganti Design
                                                    </p>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <button id="editdata" type="button" data-dismiss="modal" class="ht8 btn btn-outline-primary bgcolor-primary-linear-gradient" style="width: 100%;">Edit Data</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--modal Edit Data-->
                    <!--modal Show Data-->
                    <div class="modal fade" id="modalshowdata" tabindex="-1" role="dialog" aria-labelledby="modalshowdata" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="margin:1.25rem auto;max-width: 365px;">
                            <div class="modal-content" style="background-color: #FFFFFF;">
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <img src="assets/images/logo2.png" style="width: 10vw; height:7.8vh">
                                                <span class="ht6" style="    margin-left: 8px;vertical-align: middle;font-weight: 600">| Detail Data</span>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: 0.5px solid #6b6865;transition-duration: 0.2s;border-radius: 16px;padding: 0px 8px 8px 8px;margin-top:8px;">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="col-md-12 mt-3 mb-2">
                                                <div class="col-md-12" style="padding: 0px 50px">
                                                    <div class="row">
                                                        <div class="col-md-6 form-check">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="debit" checked>
                                                            <label class="form-check-label ht9" for="inlineRadio4">Debit / Pemasukan</label>
                                                        </div>
                                                        <div class="col-md-6 form-check">
                                                            <input class="form-check-input ht9" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="kredit">
                                                            <label class="form-check-label ht9" for="inlineRadio5">Kredit / Pengeluaran</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-1">
                                                <div class="row" style="padding: 0px 20px 0px 20px">
                                                    <div class="col-md-12 pilihan" id="" style="">
                                                        <div class="ht82" style="">
                                                            <div class="dropdown" style="font-weight: 600;">
                                                                <a style="color: black;background-color: #fff;width: 100%;text-align: left;padding:0px 4px;border-color: #ced4da;" class="ht8 btn btn-secondary dropdown-toggle" href="#" role="button" id="pilihancategoryshow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                    <span class="ht9">Category</span>
                                                                    <span class="caret" style="padding-right: 56%;"></span>
                                                                </a>

                                                                <!--<ul class="dropdown-menu isicategorydetail" aria-labelledby="pilihancategoryshow" x-placement="top-start" style="overflow: hidden;position: absolute; will-change: transform; width: 100%; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                                                                    <li data-value="assets/images/icon_category.png">
                                                                        <a class="dropdown-item" href="#">
                                                                            <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                            <span class="ht9">Pemasukan Harian</span>
                                                                        </a>
                                                                    </li>
                                                                    <li data-value="assets/images/icon_category.png">
                                                                        <a class="dropdown-item" href="#">
                                                                            <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                            <span class="ht9">Pengeluaran Harian</span>
                                                                        </a>
                                                                    </li>
                                                                    <li data-value="assets/images/icon_category.png">
                                                                        <a class="dropdown-item" href="#">
                                                                            <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                            <span class="ht9">Employee Salary</span>
                                                                        </a>
                                                                    </li>
                                                                    <li data-value="assets/images/icon_category.png">
                                                                        <a class="dropdown-item" href="#">
                                                                            <img src="assets/images/icon_category.png" style="width: 32px;margin-right: 13px;padding: 8px;">
                                                                            <span class="ht9">Treasury</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2" style="">
                                            <div class="form-group">
                                                <textarea style="font-size: 8pt;" class="form-control" id="deskripsishow" rows="3" placeholder="Deskripsi"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2" style="">
                                            <div class="form-group" style="margin-bottom: 0;">
                                                <img src="assets/images/icon_calendar.png" style="position: absolute;width: 16px;margin: 13px;">
                                                <input style="padding-left: 48px;font-size: 14px;font-size: 8pt;" type="text" name="dateshow" class="form-control data1" id="dateshow" placeholder="Date" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2" style="">
                                            <div class="form-group">
                                                <img src="assets/images/icon_wallet.png" style="position: absolute;width: 16px;margin: 13px;">
                                                <input style="padding-left: 48px;font-size: 14px;font-size: 8pt;" type="text" name="nominalshow" class="form-control data1" id="nominalshow" placeholder="Nominal" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="containerupload">
                                                <input type="file" class="upload_hide" id="upload_buktishow" disabled>
                                                <label for="upload_buktishow" class="upload_label">
                                                    <div class="image">
                                                        <img src="assets/images/kwitansi.png" alt="" style="padding: 10px;width: 95%;">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--modal Show Data-->
                    <div class="row">
                        <div class="col-xl-5 col-md-12 color-black ht23">
                            Akunting
                        </div>
                        <div class="col-xl-1 color-black ht23">
                            
                        </div>
                        <div class="col-xl-6 col-md-12 color-grey ht6 mt-1" style="text-align: right;">
                            <button data-toggle="modal" data-target="#modaltambahdata" type="button" style="padding:4px 12px;" class="ht6 btn btn-labeled bgcolor-primary-linear-gradient"><span class="btn-label" style="margin-right: 4px;"><i class="fa-regular fa-square-plus"></i></span>Tambah Data</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xl-12 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="background-color: #fff;">
                                    <div class="">
                                        <div class="col-md-12" style="">
                                            <table id="dtakunting" class="table borderless table-sm" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                <th class="th-sm">ID

                                                </th>
                                                <th class="th-sm">Tanggal

                                                </th>
                                                <th class="th-sm">Kategori

                                                </th>
                                                <th class="th-sm">Nominal

                                                </th>
                                                <th class="th-sm">Metode

                                                </th>
                                                <th class="th-sm">Aksi

                                                </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                            </table>
                                        </div>
                                        <!--              PILIHAN            -->
                                        <div class="col-md-12 pilihan mt-1" id="">
                                            <div class="col-md-12 row" id="" style="text-align: center;">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="bgcolor-primary-linear-gradient" style="padding: 20px;border-radius: 4px;">
                                                        <div class='ht9' style="font-weight: 600;"><i class="fa fa-wallet" style="margin-right: 8px;"></i> ArtomiaPay </div>
                                                        <div class="mt-2">Balance KAS</div>
                                                        <div id="balancekas" style="font-weight: 600;" class="mt-1">Rp7.500.000</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" style="">
                                                    <div id="detaildebitcredit" class="" style="padding: 0px 0px 8px 0px;border: 2px solid #e7e7e7;border-radius: 4px;">
                                                        <div class="mt-2 color-blue">Debit(+)</div>
                                                        <div id="sumdebit" style="font-weight: 600;" class="color-blue">Rp 0</div>
                                                        <div class="mt-2 color-red">Credit(-)</div>
                                                        <div id="sumcredit" style="font-weight: 600;" class="color-red">Rp 0</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 pilihan" id="" style="padding:0;">
                                            
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/waves.min.js"></script>
        <script src="assets/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/css/jquery-ui/jquery-ui.css">
        <script src="plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
        <!-- Peity JS -->
        <script src="plugins/peity/jquery.peity.min.js"></script>
        <!--<script src="plugins/morris/morris.min.js"></script>-->
        <script src="plugins/raphael/raphael-min.js"></script>
        <!--<script src="assets/pages/dashboard.js"></script>-->
        <!-- Required datatable js -->
        <script src="plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="plugins/datatables/jszip.min.js"></script>
        <script src="plugins/datatables/pdfmake.min.js"></script>
        <script src="plugins/datatables/vfs_fonts.js"></script>
        <script src="plugins/datatables/buttons.html5.min.js"></script>
        <script src="plugins/datatables/buttons.print.min.js"></script>
        <script src="plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
        <!-- Datatable init js -->
        <script src="assets/pages/datatables.init.js"></script>
        <!-- App js -->
        <script src="assets/js/app.js"></script>
    </body>
</html>
{{> scripts}}
<script>

    $(".isicategory li").click(function(){
        var getlogo = $(this).data('value');
        $("#pilihancategory").html(" <img src='"+getlogo+"' style='width: 32px;margin-right: 13px;padding: 8px;'>"+$(this).text()+"<span class='caret' style='padding-right: 26%;'></span>");
    });

    $(".isicategorydetail li").click(function(){
        var getlogo = $(this).data('value');
        $("#pilihancategoryshow").html(" <img src='"+getlogo+"' style='width: 32px;margin-right: 13px;padding: 8px;'>"+$(this).text()+"<span class='caret' style='padding-right: 30%;'></span>");
    });

    $(".delete").click(function(){
        console.log("delete");
        $deletingRowSelector = $(this).parent("td").parent("tr");
        var $datatable = $('#dtakunting').DataTable();
        $datatable.row($deletingRowSelector).remove().draw();
    });

    $(".table tbody tr").hover(function(){
        $(".table tbody tr").children("td").removeClass("tdactivehover");
        $(this).children("td:first-child").addClass("tdactivehover");
    });

    getfirstakunting();
    function getfirstakunting(){
        $.ajax({
            type:"get",
            data:{
            },
            url:"/akunting_select_debit",
            success:function(data){ 
                $.each(data.data,function(key,value){
                    var nilairupiahdebit=value.debit;
                    let finalrupiahdebit = nilairupiahdebit.toLocaleString("id-ID");
                    $("#sumdebit").html("Rp."+finalrupiahdebit);
                    $("#sumdebit").attr("data-debit",value.debit);
                    $("#balancekas").attr("data-debit",value.debit);
                });
            },complete:function(){
                
            }
        });
        $.ajax({
            type:"get",
            data:{
            },
            url:"/akunting_select_credit",
            success:function(data){ 
                $.each(data.data,function(key,value){
                    var nilairupiahkredit=value.kredit;
                    let finalrupiahkredit = nilairupiahkredit.toLocaleString("id-ID");
                    $("#sumcredit").html("Rp."+finalrupiahkredit);
                    $("#sumcredit").attr("data-credit",value.kredit);
                    $("#balancekas").attr("data-credit",value.kredit);
                });
            },complete:function(){
                var debitcount = $("#balancekas").attr("data-debit");
                var creditcount = $("#balancekas").attr("data-credit");
                var firstbalance = debitcount - creditcount;
                var finalbalance = firstbalance.toLocaleString("id-ID");
                $("#balancekas").html("Rp."+finalbalance);
            }
        });

        $.ajax({
            url: '/akunting_select',
            type: 'get',
            data: {

            },
            success: function(data){
                var classActiveRow;
                var classStatus;
                var classStatus2;
                var color;
                var day;
                var logoplusmin;
                $("#dtakunting tbody").html('');
                $.each(data.data,function(key,value){
                    var d=value.date;
                    var d1=d.split(" ");
                    var date=d1[0].split("-");
                    var yy=date[0];
                    var mm=date[1]-1;
                    var dd=date[2];
                    var fromdt= new Date(yy,mm,dd);
                    const day1 = fromdt.getDay();
                    var hari;
                    //console.log(day1);
                    //console.log(fromdt);
                    switch(day1) {
                        case 0: hari = "Minggu"; break;
                        case 1: hari = "Senin"; break;
                        case 2: hari = "Selasa"; break;
                        case 3: hari = "Rabu"; break;
                        case 4: hari = "Kamis"; break;
                        case 5: hari = "Jum'at"; break;
                        case 6: hari = "Sabtu"; break;
                    }
                    classActiveRow = "";
                    switch(value.accountingmethod){
                        case 'debit':
                        classStatus = 'bgcolor-blue';
                        classStatus2 = 'trfmethoddebit';
                        color ="#97D7D9";
                        logoplusmin = "+Rp ";
                        break;

                        case 'credit':
                        classStatus = 'bgcolor-red';
                        classStatus2 = 'trfmethod';
                        color ="#F46B69";
                        logoplusmin = "-Rp ";
                        break;

                    }
                    if(key == 0){
                        classActiveRow = "tdactivehover";
                    }
                    var nilairupiah=value.nominal;
                    let finalrupiah = nilairupiah.toLocaleString("id-ID");
                    $("#dtakunting tbody").append(
                        `
                        <tr>
                        <td id="${value.id}">${value.id}</td>
                        <td>
                            <div id="${value.date}" style="font-weight: 600;">${value.date}</div>
                            <div class="ht9">${hari}</div>
                            <div style="display:none;" class="ht9">${value.image}</div>
                        </td>
                        <td><i class="fa-solid fa-circle" style="margin-right: 4px;color:${color};font-size:9px;"></i>${value.accountingcategory}</td>
                        <td id="${value.nominal}" style="color: ${color};font-weight:600;">${logoplusmin}${finalrupiah}</td>
                        <td><span class="${classStatus2}">${value.accountingmethod}<span></td>
                        <td>
                            <span data-toggle="modal" data-target="#modaleditdata" class="showedit" data-desc="${value.description}"><img src="assets/images/icon_edit.png" style="width: 30px;margin: 0px 8px 0px 8px"></span>
                            <span data-toggle="modal" data-target="#modalshowdata" class="showdetail"><img src="assets/images/icon_show.png" style="width: 20px;margin: 0px 8px 0px 8px"></span>
                            <span class="delete"><img src="assets/images/icon_delete.png" style="width: 20px;margin: 13px;"></span>
                        </td>
                        </tr>
                        `
                    )
                });
            },complete:function(data){
                $('#dtakunting').DataTable({
                    dom: '<"top">rt<"bottom"<"row"<"col-sm-3"l><"col-sm-6 text-center"p><"col-sm-3"i>>><"clear">',
                    pagingType: "simple",
                    lengthMenu: [
                        [3, 10, 25, -1],
                        [3, 10, 25, 'All'],
                    ],
                    retrieve:true,
                    order:true,
                    "bDestroy": true
                });
                $('.dataTables_length').addClass('bs-select');
                
                $("#dtakunting tbody tr").hover(function(){
                    $("#dtakunting tbody tr").children("td").removeClass("tdactivehover");
                    $(this).children("td:first-child").addClass("tdactivehover");
                });
            }
        });
    }

    $("#dtakunting").on('click','.delete',function(){
        deletingRowSelector = $(this).parent("td").parent("tr");
        selectedid = $(deletingRowSelector).children('td:first-child').attr('id');
        $.ajax({
            url: '/akunting_delete/'+selectedid,
            type: 'get',
            data: {

            },
            success: function(data){
                status = data['status']['code'];
                if (status=='undefined'){
                    alert("Data Berhasil Dihapus");
                    $.each(data.data,function(key,value){
                        var $datatable = $('#dtakunting').DataTable();
                        $datatable.row(deletingRowSelector).remove().draw();
                    });
                }else{
                    alert("Hapus terlebih dahulu data yang terhubung");
                }
            },complete:function(){
                //$('#dtBasicExample').DataTable();
                $('#dtakunting').dataTable().fnDestroy();
                $('#dtakunting').DataTable({
                    dom: '<"top">rt<"bottom"<"row"<"col-sm-3"l><"col-sm-6 text-center"p><"col-sm-3"i>>><"clear">',
                    pagingType: "simple",
                    lengthMenu: [
                        [3, 10, 25, -1],
                        [3, 10, 25, 'All'],
                    ],
                    retrieve:true,
                    order:true,
                    "bDestroy": true
                });
                $('.dataTables_length').addClass('bs-select');
                
                $("#dtakunting tbody tr").hover(function(){
                    $("#dtakunting tbody tr").children("td").removeClass("tdactivehover");
                    $(this).children("td:first-child").addClass("tdactivehover");
                });
            }
        });
        
    });

    $("#dtakunting").on('click','.showedit',function(){
        RowSelector = $(this).parent("td").parent("tr");
        selectedimageedit = $(RowSelector).children('td').eq(1).children("div:last-child").text();
        selectedid = $(RowSelector).children('td:first-child').attr('id');
        selectednominal = $(RowSelector).children('td').eq(3).attr('id');
        selecteddescription = $(RowSelector).children('td').eq(5).children('span:first-child').attr('data-desc');

        $("#iduseredit").val(selectedid);
        $("#deskripsiedit").val(selecteddescription);
        $("#nominaledit").val(selectednominal);
        if(selectedimageedit!="null"){
            $("#upload_bukti2").siblings("label").children("p").hide();
            $("#upload_bukti2").siblings("label").children("i").hide();
            $("#infoupload2").show();
            $("#upload_bukti2").siblings("label").children("div:first-child").children("img").attr("src","assets/akunting/"+selectedimageedit).css("display","");
        }else{
            $("#upload_bukti2").siblings("label").children("div:first-child").children("img").css("display","none");
            $("#upload_bukti2").siblings("label").children("p").show();
            $("#upload_bukti2").siblings("label").children("i").show();
            $("#infoupload2").hide();
        }

        $("#editdata").click(function(){
            var dataedit = new FormData($('#uploadFormEdit')[0]);
            dataedit.append("idaccounting", selectedid);
            $.ajax({
                url:'/akunting_update',
                type: 'POST',
                data: dataedit,
                contentType: false,
                processData: false,
                cache: false,
                success: function(res){
                    alert("succes");
                },
                error: function(){
                    alert('Error: In sending the request!');
                },complete:function(){
                    $('#dtakunting').dataTable().fnDestroy();
                    getfirstakunting();
                }
            });
            /*updatedeskripsi = $("#deskripsiedit").val();
            updatenominal = $("#nominaledit").val();
            $.ajax({
                type:"POST",
                data:{
                    idaccounting:selectedid,
                    description:updatedeskripsi,
                    nominal:updatenominal,
                },
                url:"/akunting_update/",
                success:function(data){  
                    alert('succes');
                },complete:function(){
                    $('#dtakunting').dataTable().fnDestroy();
                    //location.reload();
                    getfirstakunting();
                }
            });*/
        })
    });

    $("#dtakunting").on('click','.showdetail',function(){
        RowSelector = $(this).parent("td").parent("tr");
        selectednominalshow = $(RowSelector).children('td').eq(3).attr('id');
        selectedkategori = $(RowSelector).children('td').eq(2).text();
        selecteddescriptionshow = $(RowSelector).children('td').eq(5).children('span:first-child').attr('data-desc');
        selectedtanggalshow = $(RowSelector).children('td').eq(1).children("div:first-child").attr('id');
        selectedimage = $(RowSelector).children('td').eq(1).children("div:last-child").text();
        selectedmethod = $(RowSelector).children('td').eq(4).children("span:first-child").text();
        const mySentence = selectedkategori;
        const finalSentence = mySentence.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase());
        
        
        $("#deskripsishow").val(selecteddescriptionshow);
        $("#nominalshow").val(selectednominalshow);
        $("#dateshow").val(selectedtanggalshow);
        if(selectedimage!="null"){
            $("#upload_buktishow").siblings("label").children("div").children("img").attr("src","assets/akunting/"+selectedimage).css("display","");
        }else{
            $("#upload_buktishow").siblings("label").children("div").children("img").attr("src","assets/akunting/"+selectedimage).css("display","none");
        }
        $("#pilihancategoryshow").html(" <img src='assets/images/icon_category.png' style='width: 32px;margin-right: 13px;padding: 8px;'><span class='ht9'>"+finalSentence+"</span><span class='caret' style='padding-right: 30%;'></span>");

        if(selectedmethod=="debit"){
            //$("#inlineRadio1").prop("checked", true);
            $("input:radio[value='debit']").prop('checked',true);
        }else if (selectedmethod=="credit"){
            $("input:radio[value='kredit']").prop('checked',true);
            //$("#inlineRadio2").prop("checked", true);
        }
        
    });

    $("#adddata").click(function(){
        getdebitcredit = $("input[type='radio'][name='inlineRadioOptionsadd']:checked").val();
        var addcategoryclass = $("#pilihancategory").text();
        addstrcategory = addcategoryclass.replace(/\s/g, '').toLowerCase();
        deskripsi = $("#deskripsi").val();
        dateget = $("#date").val();
        nominalget = $("#nominal").val();
        var nilaicategory;
        if(addstrcategory=='pemasukanharian'){
            nilaicategory = '1';
        }else if(addstrcategory=='pengeluaranharian'){
            nilaicategory = '2';
        }else if(addstrcategory=='employeesalary'){
            nilaicategory = '3';
        }else if(addstrcategory=='treasury'){
            nilaicategory = '4';
        }else{
            nilaicategory = '5';
        }
        //console.log(addstrcategory);
        //console.log(nilaicategory);
        /*$.ajax({
            type:"POST",
            data:{
                date:dateget,
                nominal:nominalget,
                description:deskripsi,
                method:getdebitcredit,
                category:nilaicategory,
            },
            url:"/akunting_insert/",
            success:function(data){  
                alert('succes');
            },complete:function(){
                var data2 = new FormData($('#uploadForm')[0]);
                dates = document.getElementById("date");
                files = document.getElementById("upload_bukti").files;
                var data2 = new FormData();
                data2.append("date",dates);
                data2.append("file",files);

                $.ajax({
                    url:'/upload',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: data2,
                    success: function(res){
                        alert(res);
                    },
                    error: function(){
                        alert('Error: In sending the request!');
                    }
                });
                $('#dtakunting').dataTable().fnDestroy();
                getfirstakunting();
            }
        });*/
        
        var data2 = new FormData($('#uploadForm')[0]);
        data2.append("category", nilaicategory);
        $.ajax({
            url:'/akunting_insert2',
            type: 'POST',
            data: data2,
            contentType: false,
            processData: false,
            cache: false,
            success: function(res){
                alert(res);
            },
            error: function(){
                alert('Error: In sending the request!');
            },complete:function(){
                $('#dtakunting').dataTable().fnDestroy();
                getfirstakunting();
            }
        });
    });
    
    $("div.list-item").hover(function(){
            $(this).children( "a" ).css("color", "#5BC9E1");
            $(this).children( "a" ).children(".link").addClass("activebutton");
            $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");

            $(".list-item").click(function(){
                console.log("tidur");
                $(".list-item").children( "a" ).children("div").children("img:first-child").css("display","");
                $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
                $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").removeClass("activebuttonimage");
                $(".list-item").children( "a" ).children("div").children(".description").removeClass("activebutton2");
                $(this).children( "a" ).children("div").children(".description").addClass("activebutton2");
                $(".link").removeClass("activebuttonon");
                $(this).children( "a" ).children(".link").addClass("activebuttonon");
                $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").addClass("activebuttonimage");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
            });
            $("#foo").attr("src", "bar2.jpg");

        }, function(){
            $(this).children( "a" ).css("color", "#595552");
            $(this).children( "a" ).children(".link").removeClass("activebutton");
            if ($(this).children( "a" ).children("div").children("img:nth-child(2)").hasClass("activebuttonimage")){
                $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
            } else {
                $(this).children( "a" ).children("div").children("img:first-child").css("display","");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
            }
            
    });

    

    $("#buttonminimize").click(function() {
        document.getElementById('sidebar').classList.toggle("hidesidebar");
        document.getElementById('buttonminimize').classList.toggle("movebutton");
        has = $("#buttonminimize").hasClass("movebutton");
        if (has){
            $(".sidebar .header .list-item").html("<img src='assets/images/nav/logo.png' style='width: 3.1vw; height:10vh;margin-left:8px;'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button2.png' class='icon' style='width: 40px;height: 40px;'>");
        }else{
            $(".sidebar .header .list-item").html("<img src='assets/images/logo2.png' style='width: 13vw; height:10vh'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button.png' class='icon' style='width: 40px;height: 40px;'>");
        }
    });

    $('#kaos').click(function(){
        window.location.href='/kaos';
        return false;
    });

    $('#upload_bukti').change(function(event) {
        let tmppath = URL.createObjectURL(event.target.files[0])
        $('.image > img').fadeIn('fast').attr('src',tmppath);
        $('.image > img').css('display','');
        $('#infoupload').css('display','');
        $('.drag_text2').css('display','none');

        $('#buploadgambar').click(function() {
            $('.imagelogo').show();
            $('.imagelogo div > img').fadeIn('fast').attr('src',tmppath);
        });
    });

    $('#upload_bukti2').change(function(event) {
        let tmppath = URL.createObjectURL(event.target.files[0])
        $('.image > img').fadeIn('fast').attr('src',tmppath);
        $('.image > img').css('display','');
        $('#infoupload').css('display','');
        $('.drag_text2').css('display','none');

        $('#buploadgambar').click(function() {
            $('.imagelogo').show();
            $('.imagelogo div > img').fadeIn('fast').attr('src',tmppath);
        });
    });

</script>