{{> head}}
    <body>
        <div class="container2" style="max-width: none;padding: 0px">
            <div class="sidebar bgcolor-white" id="sidebar">
                <div class="header" style="margin: 24px;">
                    <div class="list-item">
                        <img src="assets/images/logo2.png" style="width: 13vw; height:10vh">
                        <!--<img src="assets/images/nav/Logo.png" alt="" class="icon" style="width: 48px;height: 80px;">-->
                    </div>
                </div>
                
                <div class="main ">
                        <div class="list-item">
                            <a href="/">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link activebuttonon">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Home.png" alt="" class="icon" style="float: left;display: none;">
                                    <img src="assets/images/nav/Home2.png" alt="" class="icon activebuttonimage" style="float: left;">
                                    <span style="margin-top:4px;" class="description activebutton2">Dashboard</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/pos">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Sales.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Sales2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Point Of Sale</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/transaksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Transaction.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Transaction2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Transaksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/akunting">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Accounting.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Accounting2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Akunting</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/produksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Production.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Production2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Produksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/stok">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Stock.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Stock2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Stok</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/datauser">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/User.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/User2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Pengguna</span>
                                </div>
                            </a>
                        </div>
                        
                </div>
                <div class="main2" style="margin-bottom: 16px;">
                    <div class="list-item">
                            <a href="/logout_process">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description color-red">Keluar</span>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
            <div id="buttonminimize" style="position: absolute;top:240;left:244;transition: all ease-in .2s;cursor: pointer;">
                <img src="assets/images/nav/Button.png" alt="" class="icon" style="width: 40px;height: 40px;">
            </div>
            <div class="main-content" style="flex: 1;">
                <div id="headnav" class="">
                    <nav class="navbar-custom bgcolor-white" style="min-height: 44px;">
                        <ul class="navbar-right d-flex list-inline float-right mb-0">
                            <li class="dropdown notification-list">
                                <div class="dropdown notification-list nav-pro-img">
                                    <a class="" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="line-height: 48px !important;">
                                        <i class="mdi mdi-18px mdi-chevron-down" style="float: right;text-align: center;width: 40px; margin-right: 8px;"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <!-- item-->
                                        <a class="dropdown-item" href="/user/edit"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout_process"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                    </div>                                                                    
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 0px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:0px">
                                <img src="assets/images/nav/Profile.png" style="height: 30px;">
                            </div>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 10px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:6px" id="username" class="color-grey">
                                {{username}}
                            </div>
                        </ul>
                    </nav>
                    <!-- Top Bar Start -->
                </div>
                <div class="main-pages" style="padding:24px 40px;">
                    <div class="row">
                        <div class="col-xl-5 col-md-12 color-black ht23">
                            Dashboard Performance Monitoring
                        </div>
                        <div class="col-xl-1 color-black ht23">
                            
                        </div>
                        <div class="col-xl-6 col-md-12 color-grey ht6 mt-1" style="text-align: right;">
                            <form action="/">
                                <label for="date">Menampilkan Data</label>
                                <input class="bgcolor-primary-linear-gradient" type="date" id="date" name="date" style="margin-left: 8px;padding: 4px;border-radius: 4px;border:none;">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="card mini-stat position-relative" style="border-left: 5px solid #F6C785;">
                                <div class="card-body" style="padding: 1rem 0.06rem 1rem 1rem;">
                                    
                                    <div class="">
                                        <div class="mini-stat-desc col-md-8 p-0" style="float: left;">
                                            <div class="ht7"style="color: #F6C785;">
                                                Target <span class="ht8">+16%</span>
                                            </div>
                                            <div class="ht6 color-black"style="font-weight:bold">
                                                Rp. 9.100.000
                                            </div>
                                        </div>
                                        <div class="mini-stat-desc col-md-4" style="float:left; padding:0px; padding-left:14px;">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-chart-line color-grey" style="font-size: 2rem;opacity:40%;"></i>
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card mini-stat position-relative" style="border-left: 5px solid #5BC9E1;">
                                <div class="card-body" style="padding: 1rem 0.06rem 1rem 1rem;">
                                    
                                    <div class="">
                                        <div class="mini-stat-desc col-md-7 p-0" style="float: left;">
                                            <div class="ht7 color-blue"style="">
                                                Omset <span class="ht8">+16%</span>
                                            </div>
                                            <div class="ht6 color-black"style="font-weight:bold">
                                                Rp. 9.100.000
                                            </div>
                                        </div>
                                        <div class="mini-stat-desc col-md-1" style="float:left; padding:0px; padding-left:14px;">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-cart-outline color-grey" style="font-size: 2rem;margin-left:-32px;opacity:40%;"></i>
                                            </div>
                                        </div>
                                        <div class="mini-stat-desc col-md-4 p-0" style="float: left;">
                                            <div class="ht7 color-black"style="">
                                                Transaksi
                                            </div>
                                            <div class="ht6 color-black"style="font-weight:bold">
                                                4.502
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card mini-stat position-relative" style="border-left: 5px solid #F46B69;">
                                <div class="card-body" style="padding: 1rem 0.06rem 1rem 1rem;">
                                    <div class="">
                                        <div class="mini-stat-desc col-md-8 p-0" style="float: left;">
                                            <div class="ht7 color-red"style="">
                                                Laba <span class="ht8">+16%</span>
                                            </div>
                                            <div class="ht6 color-black"style="font-weight:bold">
                                                Rp. 2.100.000
                                            </div>
                                        </div>
                                        <div class="mini-stat-desc col-md-4" style="float:left; padding:0px; padding-left:14px;">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-cash color-grey" style="font-size: 2rem;opacity:40%;"></i>
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chart-->
                    <div class="row mt-2">
                        <div class="col-xl-8 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    
                                    <div class="">
                                        <div class="col-md-12 p-0" style="float: left;">
                                            <div id="apaja" class="ht6 color-black"style="font-weight:bold">
                                                Grafik Penjualan
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="grafik" style="height: 30vh;padding:0;">
                                            
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    
                                    <div class="">
                                        <div class="col-md-12 p-0" style="float: left;">
                                            <div id="apaja" class="ht6 color-black"style="font-weight:bold;text-align:center;">
                                                Tren Kertas
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="grafik2" style="height: 30vh;padding:0;">
                                            
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    
                                    <div class="">
                                        <div class="col-md-12 p-0" style="float: left;">
                                            <div id="apaja" class="ht6 color-black"style="font-weight:bold;text-align:center;">
                                                Tren Barang
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="grafik3" style="height: 30vh;padding:0;">
                                            
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--INI NILAI BAWAH -->
                    <div class="row mt-2">
                        <div class="col-xl-4 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    <div class="">
                                        <div class="col-md-3 p-0" style="float: left;">
                                            <img src='assets/images/Icon_Total_Transaksi.png' style='width: 48px; height:48px;margin-left:8px;'>
                                        </div>
                                        <div class="col-md-9 p-0 mt-1 mb-2" style="float: left;">
                                            <div class="ht7 color-black"style="">
                                                Total Transaksi
                                            </div>
                                            <div id="transaction_total" class="ht6 color-black"style="font-weight:bold">
                                                4.502
                                            </div>
                                        </div>
                                        <div class="col-md-12 progress-bars" style="padding:0;" data-label=". . .">
                                            
                                        </div>
                                        <div class="mini-stat-desc col-md-6" style="float:left; padding:0px; padding-left:14px;">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-chart-line color-black" style="font-size: 1.2rem;margin:4px;"></i><span class="color-black ht7" style="font-weight: 600;">+45%</span>
                                            </div>
                                        </div>
                                        <div class="mini-stat-desc col-md-6" style="float:left; padding:0px;padding-right: 8px;">
                                            <div class="mini-stat-icon" style="text-align: right;">
                                                <i class="mdi mdi-calendar color-black" style="font-size: 1.2rem;margin:4px;"></i><span class="color-black ht7" style="font-weight: 600;">Sept2022</span>
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    
                                    <div class="">
                                        <div class="col-md-3 p-0" style="float: left;">
                                            <img src='assets/images/Icon_Total_Transaksi.png' style='width: 48px; height:48px;margin-left:8px;'>
                                        </div>
                                        <div class="col-md-9 p-0 mt-1 mb-2" style="float: left;">
                                            <div class="ht7 color-black"style="">
                                                Stok
                                            </div>
                                            <div class="ht6 color-black"style="font-weight:bold">
                                                <span id="total_stock">4.502</span> <span class="ht9">Pcs</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 progress-bars" style="padding:0;" data-label=". . .">
                                            
                                        </div>
                                        <div class="mini-stat-desc col-md-6" style="float:left; padding:0px; padding-left:14px;">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-chart-line color-black" style="font-size: 1.2rem;margin:4px;"></i><span class="color-black ht7" style="font-weight: 600;">+45%</span>
                                            </div>
                                        </div>
                                        <div class="mini-stat-desc col-md-6" style="float:left; padding:0px;padding-right: 8px;">
                                            <div class="mini-stat-icon" style="text-align: right;">
                                                <i class="mdi mdi-calendar color-black" style="font-size: 1.2rem;margin:4px;"></i><span class="color-black ht7" style="font-weight: 600;">Sept2022</span>
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                         <div class="col-xl-4 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    
                                    <div class="">
                                        <div class="col-md-3 p-0" style="float: left;">
                                            <img src='assets/images/Icon_Pendapatan.png' style='width: 48px; height:48px;margin-left:8px;'>
                                        </div>
                                        <div class="col-md-9 p-0 mt-1 mb-3" style="float: left;">
                                            <div class="ht6 color-black"style="font-weight:bold">
                                                Pendapatan Harian
                                            </div>
                                            <div class="ht7 color-black"style="">
                                                45 transaksi
                                            </div>
                                        </div>
                                        <div class="col-md-12 ht6 color-black" style="font-weight: 600; text-align: center;">
                                            Rp450.000 <span class="ht9 color-blue">+16%</span>
                                        </div>
                                        <div class="col-md-12 ht9 mt-1 color-blue" style="font-weight: 600; text-align: center;">
                                            <i class="mdi mdi-arrow-up" style="font-size: 0.8rem;margin:4px;"></i>Rp400.000
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/waves.min.js"></script>
        <script src="assets/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/css/jquery-ui/jquery-ui.css">
        <script src="plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
        <!-- Peity JS -->
        <script src="plugins/peity/jquery.peity.min.js"></script>
        <!--<script src="plugins/morris/morris.min.js"></script>-->
        <script src="plugins/raphael/raphael-min.js"></script>
        <!--<script src="assets/pages/dashboard.js"></script>-->
        <!-- Required datatable js -->
        <script src="plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="plugins/datatables/jszip.min.js"></script>
        <script src="plugins/datatables/pdfmake.min.js"></script>
        <script src="plugins/datatables/vfs_fonts.js"></script>
        <script src="plugins/datatables/buttons.html5.min.js"></script>
        <script src="plugins/datatables/buttons.print.min.js"></script>
        <script src="plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
        <!-- Datatable init js -->
        <script src="assets/pages/datatables.init.js"></script>
        <!-- App js -->
        <script src="assets/js/app.js"></script>
    </body>
</html>
{{> scripts}}
<script>
    $("div.list-item").hover(function(){
        $(this).children( "a" ).css("color", "#5BC9E1");
        $(this).children( "a" ).children(".link").addClass("activebutton");
        $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
        $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");

        $(".list-item").click(function(){
            console.log("tidur");
            $(".list-item").children( "a" ).children("div").children("img:first-child").css("display","");
            $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
            $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").removeClass("activebuttonimage");
            $(".list-item").children( "a" ).children("div").children(".description").removeClass("activebutton2");
            $(this).children( "a" ).children("div").children(".description").addClass("activebutton2");
            $(".link").removeClass("activebuttonon");
            $(this).children( "a" ).children(".link").addClass("activebuttonon");
            $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").addClass("activebuttonimage");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
        });
        $("#foo").attr("src", "bar2.jpg");

    }, function(){
        $(this).children( "a" ).css("color", "#595552");
        $(this).children( "a" ).children(".link").removeClass("activebutton");
        if ($(this).children( "a" ).children("div").children("img:nth-child(2)").hasClass("activebuttonimage")){
            $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
        } else {
            $(this).children( "a" ).children("div").children("img:first-child").css("display","");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
        }
    });

    $("#buttonminimize").click(function() {
        document.getElementById('sidebar').classList.toggle("hidesidebar");
        document.getElementById('buttonminimize').classList.toggle("movebutton");
        has = $("#buttonminimize").hasClass("movebutton");
        if (has){
            $(".sidebar .header .list-item").html("<img src='assets/images/nav/logo.png' style='width: 3.1vw; height:10vh;margin-left:8px;'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button2.png' class='icon' style='width: 40px;height: 40px;'>");
        }else{
            $(".sidebar .header .list-item").html("<img src='assets/images/logo2.png' style='width: 13vw; height:10vh'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button.png' class='icon' style='width: 40px;height: 40px;'>");
        }
    });

    $.ajax({
        url: "/transaction_total",
        type: 'GET',
        data: {},
        success: function(data){
            $("#transaction_total").html(data.data[0]["_count"]);
        }
    });

    $.ajax({
        url: "/product_total_stok",
        type: 'GET',
        data: {},
        success: function(data){
            $("#total_stock").html(data.data[0]["amount"]);
        }
    });

    //HIGHCHART
    Highcharts.chart('grafik', {
        chart: {
            type: 'areaspline'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            accessibility: {
                description: 'Months of the year'
            }
        },
        yAxis: {
            title: {
                text: ''
            },
            labels: {
                formatter: function () {
                    return this.value + 'k';
                }
            }
        },
        legend: {
            align: 'left',
            verticalAlign: 'top',
            x: 180,
            y: -10,
            symbolPadding: 20,
            
        }, 
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            series: {
                label: {
                    enabled: false
                },
            },
        },
        credits: {
            enabled: false,
        },
        series: [{
            name: 'Target',
            marker: {
                enabled: false,
            },
            color: {
                linearGradient : {
                    x1: 1,
                    y1: 0,
                    x2: 0,
                    y2: 0
                },
                stops : [
                    [0, Highcharts.Color('#F6C785').setOpacity(1).get('rgba')],
                    [1, Highcharts.Color('#F6C785').setOpacity(1).get('rgba')],
                ]
            },
            fillColor : false,
            data: [7, 3, 7.2, 3.2, 8, 4, 7.1, {
                y: 3,
                accessibility: {
                    description: 'Sunny symbol, this is the warmest point in the chart.'
                }
            }, 7, 3, 7, 3]

        }, {
            name: 'Terjual',
            marker: {
                symbol: 'diamond'
            },
            color: {
                linearGradient : {
                    x1: 1,
                    y1: 0,
                    x2: 0,
                    y2: 0
                },
                stops : [
                    [0, Highcharts.Color('#5BC9E1').setOpacity(1).get('rgba')],
                    [1, Highcharts.Color('#5BC9E1').setOpacity(1).get('rgba')],
                ]
            },
            fillColor : {
                linearGradient : {
                    x1: 1,
                    y1: 0,
                    x2: 0,
                    y2: 1
                },
                stops : [
                    [0, Highcharts.Color('#5BC9E1').setOpacity(0.7).get('rgba')],
                    [1, Highcharts.Color('#5BC9E1').setOpacity(0).get('rgba')],
                ]
            },
            data: [3,7, 3, 7, 2.9, 8, 5, 7, 3, 7.5, 4, 6.7,]
        }]
    });

    //PIE CHART
    $.ajax({
        url: "/papers",
        type: 'GET',
        data: {mode_all:true},
        success: function(data){
            var data_series = [];
            $.each(data.data,function(key,value){
               data_series.push({
                    name: value.name,
                    y: value.amount,
                    z: 92
                });
            });

            Highcharts.chart('grafik2', {
                chart: {
                    type: 'variablepie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    headerFormat: '',
                    pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>'+
                        'Jumlah: <b>{point.y}</b><br/>'
                        /*'Population density (people per square km): <b>{point.z}</b><br/>'*/
                },
                credits: {
                    enabled: false,
                },
                plotOptions: {
                    variablepie: {
                        borderColor: null,
                        dataLabels: {
                            enabled: false,
                            connectorWidth: 0
                        },
                    },
                },
                series: [{
                    showInLegend: true,
                    minPointSize: 10,
                    innerSize: '20%',
                    zMin: 0,
                    name: 'countries',
                    data: data_series
                }]
            });
        }
    });
    

    $.ajax({
        url: "/products_union",
        type: 'GET',
        data: {},
        success: function(data){
            var data_series = [];
            $.each(data.data,function(key,value){
               data_series.push({
                    name: value.name,
                    y: value.amount,
                    z: 92
                });
            });

            console.log(data_series);

            Highcharts.chart('grafik3', {
                chart: {
                    type: 'variablepie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    headerFormat: '',
                    pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>'+
                        'Jumlah: <b>{point.y}</b><br/>'
                        /*'Population density (people per square km): <b>{point.z}</b><br/>'*/
                },
                credits: {
                    enabled: false,
                },
                plotOptions: {
                    variablepie: {
                        borderColor: null,
                        dataLabels: {
                            enabled: false,
                            connectorWidth: 0
                        },
                    },
                },
                series: [{
                    showInLegend: true,
                    minPointSize: 10,
                    innerSize: '20%',
                    zMin: 0,
                    name: 'products',
                    data: data_series
                }]
            });
        }
    });

   

</script>