{{> head}}
    <body>
        <div class="container2" style="max-width: none;padding: 0px">
            <div class="sidebar bgcolor-white" id="sidebar">
                <div class="header" style="margin: 24px;">
                    <div class="list-item">
                        <img src="assets/images/logo2.png" style="width: 13vw; height:10vh">
                        <!--<img src="assets/images/nav/Logo.png" alt="" class="icon" style="width: 48px;height: 80px;">-->
                    </div>
                </div>
                
                <div class="main ">
                        <div class="list-item">
                            <a href="/">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Home.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Home2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Dashboard</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/pos">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link activebuttonon">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Sales.png" alt="" class="icon" style="float: left;display: none;">
                                    <img src="assets/images/nav/Sales2.png" alt="" class="icon activebuttonimage" style="float: left;">
                                    <span style="margin-top:4px;" class="description activebutton2">Point of Sale</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/transaksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Transaction.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Transaction2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Transaksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/akunting">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Accounting.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Accounting2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Akunting</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/produksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Production.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Production2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Produksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/stok">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Stock.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Stock2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Stok</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/datauser">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/User.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/User2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Pengguna</span>
                                </div>
                            </a>
                        </div>
                        
                </div>
                <div class="main2" style="margin-bottom: 16px;">
                    <div class="list-item">
                            <a href="#">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description color-red">Keluar</span>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
            <div id="buttonminimize" style="position: absolute;top:240;left:244;transition: all ease-in .2s;cursor: pointer;">
                <img src="assets/images/nav/Button.png" alt="" class="icon" style="width: 40px;height: 40px;">
            </div>
            <div class="main-content" style="flex: 1;">
                <div id="headnav" class="">
                    <nav class="navbar-custom bgcolor-white" style="min-height: 44px;">
                        <ul class="navbar-right d-flex list-inline float-right mb-0">
                            <li class="dropdown notification-list">
                                <div class="dropdown notification-list nav-pro-img">
                                    <a class="" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="line-height: 48px !important;">
                                        <i class="mdi mdi-18px mdi-chevron-down" style="float: right;text-align: center;width: 40px; margin-right: 8px;"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <!-- item-->
                                        <a class="dropdown-item" href="/user/edit"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout_process"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                    </div>                                                                    
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 0px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:0px">
                                <img src="assets/images/nav/Profile.png" style="height: 30px;">
                            </div>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 10px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:6px" id="username" class="color-grey">
                                Fulan bin Fulan
                            </div>
                        </ul>
                    </nav>
                    <!-- Top Bar Start -->
                </div>
                <div class="main-pages" style="padding:24px 40px;">
                    <div class="row">
                        <div class="col-xl-5 col-md-12 color-black ht23">
                            Point Of Sale
                        </div>
                        <div class="col-xl-1 color-black ht23">
                            
                        </div>
                        <div class="col-xl-6 col-md-12 color-grey ht6 mt-1" style="text-align: right;">
                            <button type="button" style="padding:4px;" class="ht6 btn btn-labeled bgcolor-primary-linear-gradient"><span class="btn-label" style="margin-right: 4px;"><i class="mdi mdi-cart-outline"></i></span>Keranjang</button>
                        </div>
                    </div>
                    <!-- chart-->
                    <div class="row mt-2">
                        <div class="col-xl-12 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="background-color: #fafafa;">
                                    
                                    <div class="">
                                        <div class="col-md-12 row" style="">
                                                <div class="col-md-6 ht4 color-black" id="title" style="font-weight:bold;">
                                                    <i class="mdi mdi-tag-outline m-r-5" style="font-size: 13pt;margin-right: 8px;"></i> Keranjang
                                                </div>
                                                <div class="col-md-6" id="inputsearch" class="ht6 color-black" style="font-weight:bold;padding-top:2px;text-align:right;padding-left: 15em;">
                                                    <input style="height:1.45rem !important;" type="text" name="username" class="form-control ht7" id="searchpesanan" placeholder="Cari Pesananan" required>
                                                </div>
                                        </div>
                                        <!--              PILIHAN            -->
                                        <div class="col-md-12 pilihan mt-2" id="">
                                            <div class="row">
                                                <div id="buckets" class="row col-md-12"></div> 
                                                <div class="col-md-12 mt-5">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row col-md-12" style="margin: 0;padding:0;">
                                                                <div class="col-md-6" style="padding-left: 0;">
                                                                    <button type="button" class="ht8 btn btn-outline-dark" style="width: 100%;border-radius: 0.5rem;"><i class="mdi mdi-cart-outline" style="margin-right: 8px;"></i> Tambah Belanjaan</button>
                                                                </div>
                                                                <div class="col-md-6" style="padding: 0;">
                                                                    <button id="gotocheckout" type="button" class="ht8 btn btn-outline-primary bgcolor-primary-linear-gradient" style="width: 100%;border-radius: 0.5rem;"><i class="fa-regular fa-paper-plane" style="margin-right: 8px;"></i>Lanjut</button> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 pilihan mt-4" id="" style="padding:0;">    
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/waves.min.js"></script>
        <script src="assets/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/css/jquery-ui/jquery-ui.css">
        <script src="plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
        <!-- Peity JS -->
        <script src="plugins/peity/jquery.peity.min.js"></script>
        <!--<script src="plugins/morris/morris.min.js"></script>-->
        <script src="plugins/raphael/raphael-min.js"></script>
        <!--<script src="assets/pages/dashboard.js"></script>-->
        <!-- Required datatable js -->
        <script src="plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="plugins/datatables/jszip.min.js"></script>
        <script src="plugins/datatables/pdfmake.min.js"></script>
        <script src="plugins/datatables/vfs_fonts.js"></script>
        <script src="plugins/datatables/buttons.html5.min.js"></script>
        <script src="plugins/datatables/buttons.print.min.js"></script>
        <script src="plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
        <!-- Datatable init js -->
        <script src="assets/pages/datatables.init.js"></script>
        <!-- App js -->
        <script src="assets/js/app.js"></script>
    </body>
</html>
{{> scripts}}
<script>
    var jumalahbarang = 0;

    getList();

    $("#buckets").on('click','#checkkeranjang',function(){
        console.log("key : "+$(this).data("key")+":"+$(this).prop('checked'));
        var checked = $(this).prop('checked');
        $.ajax({
            url: '/keranjang_edit_checked',
            type: 'get',
            data: { key: +$(this).data("key"),checked},
            success: function(data){
                //getList();
            }
        });
    });

    $("#buckets").on('click','.cplusbarang',function(){
        var rawnilaiharga = $(this).parent('.nilaikanan').siblings('.listnamabarang').children('div').children('.hargabarangnet').text();
        var rawnilaihargareplace = rawnilaiharga.replace("Rp", "");
        var nilaiharga=  parseInt(rawnilaihargareplace.replace(/\./g,''));
        var nilaipenampung = $(this).siblings('.cnilaibarang').text();
        var nilai = parseInt(nilaipenampung);
        nilai+=1;
        finalprice = nilaiharga*nilai;
        showprice = finalprice.toLocaleString().replace(/\,/g,'.');
        $(this).siblings('.cnilaibarang').html(nilai);
        $(this).siblings('.chargabarang').html("Rp."+showprice);

        editList($(this).data("key"),nilai,finalprice);
    });

    $("#buckets").on('click','.cminbarang',function(){
        var rawnilaiharga2 = $(this).parent('.nilaikanan').siblings('.listnamabarang').children('div').children('.hargabarangnet').text();
        var rawnilaihargareplace2 = rawnilaiharga2.replace("Rp", "");
        var nilaiharga2=  parseInt(rawnilaihargareplace2.replace(/\./g,''));
        var nilaipenampung2 = $(this).siblings('.cnilaibarang').text();
        var nilai2 = parseInt(nilaipenampung2);

        if(nilaipenampung2!=0){
            nilai2-=1;
            $(this).siblings('.cnilaibarang').html(nilai2);
            finalprice2 = nilaiharga2*nilai2;
            showprice2 = finalprice2.toLocaleString().replace(/\,/g,'.');
            $(this).siblings('.chargabarang').html("Rp."+showprice2);
            editList($(this).data("key"),nilai2,finalprice2);
        }
    });

    $("div.list-item").hover(function(){
        $(this).children( "a" ).css("color", "#5BC9E1");
        $(this).children( "a" ).children(".link").addClass("activebutton");
        $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
        $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");

        $(".list-item").click(function(){
            console.log("tidur");
            $(".list-item").children( "a" ).children("div").children("img:first-child").css("display","");
            $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
            $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").removeClass("activebuttonimage");
            $(".list-item").children( "a" ).children("div").children(".description").removeClass("activebutton2");
            $(this).children( "a" ).children("div").children(".description").addClass("activebutton2");
            $(".link").removeClass("activebuttonon");
            $(this).children( "a" ).children(".link").addClass("activebuttonon");
            $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").addClass("activebuttonimage");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
        });
        $("#foo").attr("src", "bar2.jpg");

        }, function(){
            $(this).children( "a" ).css("color", "#595552");
            $(this).children( "a" ).children(".link").removeClass("activebutton");
            if ($(this).children( "a" ).children("div").children("img:nth-child(2)").hasClass("activebuttonimage")){
                $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
            } else {
                $(this).children( "a" ).children("div").children("img:first-child").css("display","");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
            }
        }
    );

    $("#buttonminimize").click(function() {
        document.getElementById('sidebar').classList.toggle("hidesidebar");
        document.getElementById('buttonminimize').classList.toggle("movebutton");
        has = $("#buttonminimize").hasClass("movebutton");
        if (has){
            $(".sidebar .header .list-item").html("<img src='assets/images/nav/logo.png' style='width: 3.1vw; height:10vh;margin-left:8px;'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button2.png' class='icon' style='width: 40px;height: 40px;'>");
        }else{
            $(".sidebar .header .list-item").html("<img src='assets/images/logo2.png' style='width: 13vw; height:10vh'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button.png' class='icon' style='width: 40px;height: 40px;'>");
        }
    });


    $('#gotocheckout').click(function(){
        window.location.href='/checkout';
        return false;
    })
    
    function getList(){
        $.ajax({
            url: '/keranjang_list',
            type: 'get',
            data: {},
            success: function(data){
                $("#buckets").html("");
                $.each(data,function(key,value){
                    var stmtChecked;
                    if(value.checked == "true"){
                        stmtChecked = "checked";
                    }else{
                        stmtChecked = "";
                    }

                    $("#buckets").append(`
                        <div class="col-md-6 mt-2">
                            <div class="card" style="padding: 8px 16px;">
                                <div class="row mb-2">
                                    <div class="col-md-1" style="padding-left: 20px;">
                                        <div class="form-check mt-4">
                                            <input data-key="${key}" class="form-check-input" type="checkbox" value="" id="checkkeranjang" style="margin-top: 12px;border: 0.5px solid #595552;border-radius: 4px;" ${stmtChecked}>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="">
                                        <img class="mt-2" src="${artomia_server_url}/uploads/${value.product_pic_logo}" style="width: 70px; height:70px" />
                                    </div>
                                    <div class="col-md-6 listnamabarang">
                                        <div id="namabarang" class="col-md-12 ht82 mt-2">${value.product_name}</div>
                                        <div class="col-md-12 ht9">Warna &nbsp;&nbsp; : &nbsp;<span id="">${value.product_color}</span></div>
                                        <div class="col-md-12 ht9">Ukuran &nbsp;: &nbsp;<span id="">${value.product_size}</span></div>
                                        <div class="col-md-12 ht9">Harga &nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;<span class="color-red hargabarangnet" id="">Rp. ${value.item_net_cost}</span></div>
                                    </div>
                                    <div class="col-md-3 nilaikanan" style="text-align: right;padding-top: 8px;padding-right: 24px;">
                                        <i id="minbarang" data-key="${key}" class="cminbarang fa-regular fa-square-minus" style="cursor: pointer;"></i>
                                        <b id="nilaibarang" class="cnilaibarang" style="margin:0px 8px;">${value.item_amount}</b>
                                        <i id="plusbarang" data-key="${key}" class="cplusbarang fa-regular fa-square-plus" style="cursor: pointer;"></i>
                                        <div id="hargabarang" class="chargabarang ht62 color-red">Rp. ${value.item_total_cost}</div>
                                        <button type="button" class=" mt-2 ht9 btn btn-outline-primary bgcolor-primary-linear-gradient" style="padding: 2px 4px;"><i class="fa fa-trash">&nbsp;&nbsp;&nbsp;</i>Hapus</button>
                                    </div>
                                </div>
                            </div>
                        </div>`);
                });
            }
        });
    }

    function editList(key,item_amount,item_total_cost){
        $.ajax({
            url: '/keranjang_edit',
            type: 'get',
            data: { key,item_amount,item_total_cost },
            success: function(data){
                getList();
            }
        });
    }
</script>