<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Artomia</title>
        <meta content="Admin Dashboard" name="description" />
         <!--<link rel="shortcut icon" href="assets/images/logo-sm2.png">-->
        <!--<link rel="stylesheet" href="../plugins/morris/morris.css">-->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="assets/css/style2.css" rel="stylesheet" type="text/css">
        
        <script src="assets/js/sweetalert/sweetalert2@11.js"></script>
    </head>
    <body style="background-color: #fafafa;">
        <div id="wrapper">
            <div class="content-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div id="loginimage">
                                <img src="assets/images/Patterns.png">
                            </div>
                        </div>
                        <div class="col" style="padding-top: 48px;">
                            <div class="col" id="loginlogo">
                                <img src="assets/images/logo2.png" style="width: 13vw; height:10vh">
                            </div>
                            <div class="col mt2">
                                <div class="ht2" style="padding-left: 1vw;">
                                    Login Dulu
                                </div>
                                <div class="ht3 mt2" style="padding-left: 1vw;">
                                    Yuk login buat akses dashboard lagi!
                                </div>
                            </div>
                            <div class="col mt1" style="padding-left: 2.2vw; max-width: 36vw;">
                                <form method="POST" action="/login_process" class="form-horizontal">
                                    <div class="form-group">
                                        <img src="assets/images/Profile.png" style="position: absolute;width: 16px;margin: 14px;">
                                        <input style="height:2.7rem !important;padding-left: 48px;" type="text" name="username" class="form-control" id="username" placeholder="Enter username" required>
                                    </div>
                                    <div class="form-group mt2">
                                        <img src="assets/images/Lock.png" style="position: absolute;width: 16px;margin: 14px;">
                                        <input style="height:2.7rem !important;padding-left: 48px;padding-right: 40px" type="password" name="userpass" class="form-control" id="userpass" placeholder="Enter password" required>
                                        <!--<img src="assets/images/Show.png" style="cursor: pointer;position: absolute;top: 74;right: 30;width: 16px;">-->
                                        <i class="far fa-eye" id="togglePassword" style="cursor: pointer;position: absolute;top: 75;right: 30;color:grey"></i>
                                    </div>
                                    <div class="form-group row mt2">
                                        <div class="col-7">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customControlInline" style="">
                                                <label class="custom-control-label ht3" for="customControlInline" style="">Ingat Aku!</label>
                                            </div>
                                        </div>
                                        <div class="col-5 text-right">
                                            <span class="bt2 color-blue"id="signupbtn" style="cursor: pointer;">Lupa password?</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 mt1">
                                            <div class="custom-checkbox">
                                                <button type="submit" class="btn btn-login waves-effect waves-light bgcolor-primary-linear-gradient bt2" style="width: 100% !important;" type="submit">Log In</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col"></div>
                        </div>
                        <!-- end row -->
                        <!-- end page content-->
                    </div> <!-- container-fluid -->
                </div> <!-- content -->
            </div>
        </div>
        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/waves.min.js"></script>
        <script src="assets/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/css/jquery-ui/jquery-ui.css">
        <script src="plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
        <!-- Peity JS -->
        <script src="plugins/peity/jquery.peity.min.js"></script>
        <!--<script src="plugins/morris/morris.min.js"></script>-->
        <script src="plugins/raphael/raphael-min.js"></script>
        <!--<script src="assets/pages/dashboard.js"></script>-->
        <!-- Required datatable js -->
        <script src="plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="plugins/datatables/jszip.min.js"></script>
        <script src="plugins/datatables/pdfmake.min.js"></script>
        <script src="plugins/datatables/vfs_fonts.js"></script>
        <script src="plugins/datatables/buttons.html5.min.js"></script>
        <script src="plugins/datatables/buttons.print.min.js"></script>
        <script src="plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
        <!-- Datatable init js -->
        <script src="assets/pages/datatables.init.js"></script>
        <!-- App js -->
        <script src="assets/js/app.js"></script>
    </body>
</html>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#userpass');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const isPassWrong = urlParams.get('passwrong');

    if(isPassWrong == 1){
        Swal.fire({
            title: 'Info',
            text: "Wrong Password",
            icon: 'info'
        }).then((result) => {
          
        })
    }
    
</script>
{{> scripts}}