{{> head}}
    <body>
        <div class="container2" style="max-width: none;padding: 0px">
            <div class="sidebar bgcolor-white" id="sidebar">
                <div class="header" style="margin: 24px;">
                    <div class="list-item">
                        <img src="assets/images/logo2.png" style="width: 13vw; height:10vh">
                        <!--<img src="assets/images/nav/Logo.png" alt="" class="icon" style="width: 48px;height: 80px;">-->
                    </div>
                </div>
                
                <div class="main ">
                        <div class="list-item">
                            <a href="/">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Home.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Home2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Dashboard</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/pos">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link activebuttonon">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Sales.png" alt="" class="icon" style="float: left;display: none;">
                                    <img src="assets/images/nav/Sales2.png" alt="" class="icon activebuttonimage" style="float: left;">
                                    <span style="margin-top:4px;" class="description activebutton2">Point of Sale</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/transaksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Transaction.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Transaction2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Transaksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/akunting">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Accounting.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Accounting2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Akunting</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/produksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Production.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Production2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Produksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/stok">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Stock.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Stock2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Stok</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/datauser">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/User.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/User2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Pengguna</span>
                                </div>
                            </a>
                        </div>
                        
                </div>
                <div class="main2" style="margin-bottom: 16px;">
                    <div class="list-item">
                            <a href="#">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description color-red">Keluar</span>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
            <div id="buttonminimize" style="position: absolute;top:240;left:244;transition: all ease-in .2s;cursor: pointer;">
                <img src="assets/images/nav/Button.png" alt="" class="icon" style="width: 40px;height: 40px;">
            </div>
            <div class="main-content" style="flex: 1;">
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document" style="margin:2.75rem auto">
                        <div class="modal-content" style="background-color: #FAFAFA;">
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/logo2.png" style="width: 10vw; height:7.8vh">
                                            <span class="ht6" style="    margin-left: 8px;vertical-align: middle;font-weight: 600">| Pilih Kertas</span>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: 0.5px solid #6b6865;transition-duration: 0.2s;border-radius: 16px;padding: 0px 8px 8px 8px;margin-top:8px;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mt-2" id="bucketskertas">
                                       
                                       
                                        <!-- Card Pada modal Jenis Kertas -->
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <div class="dropdown show" style="font-weight: 600;">
                                                <a style="color: black;background-color: #fff;width: 100%;text-align: left;" class="ht8 btn btn-secondary dropdown-toggle togglekain" href="#" role="button" id="jeniskertasdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Pet Film Corporate
                                                </a>
                                                <ul class="dropdown-menu isikain" aria-labelledby="jeniskertasdropdown" style="width: 100%;">
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A4</a></li>
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A5</a></li>
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A6</a></li>
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A7</a></li>
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A8</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <img src="assets/images/pos/icon_horizontal_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="lebar" class="form-control" id="lebar" placeholder="Lebar" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <img src="assets/images/pos/icon_vertical_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="tinggi" class="form-control" id="tinggi" placeholder="Tinggi" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="ht8 btn btn-outline-primary bgcolor-primary-linear-gradient" style="width: 100%;" id="btn_add_paper">Tambah Kertas</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <!-- Modal Upload -->
                <div class="modal fade" id="modalupload" tabindex="-1" role="dialog" aria-labelledby="modalupload" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document" style="margin:2.75rem auto">
                        <div class="modal-content" style="background-color: #FAFAFA;">
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/logo2.png" style="width: 10vw; height:7.8vh">
                                            <span class="ht6" style="margin-left: 8px;vertical-align: middle;font-weight: 600">| Upload</span>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: 0.5px solid #6b6865;transition-duration: 0.2s;border-radius: 16px;padding: 0px 8px 8px 8px;margin-top:8px;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <span id="titlemodalletakdesain" class="ht6" style="vertical-align: middle;font-weight: 600">Depan Tengah</span>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="containerupload">
                                                <input type="file" class="upload_hide" id="upload_costum" multiple>
                                                <label for="upload_costum"  class="upload_label">
                                                    <div class="image">
                                                        <img src="" alt="" style="display:none;">
                                                    </div>
                                                    <p class="drag_text drag_text2 ht4">Masukan Gambar Design</p>
                                                    <p class="drag_text2">Seret File atau Pilih Gambar</p>
                                                    <i class="drag_text2 fa-regular fa-square-plus"></i>
                                                    <p id="infoupload" class="" style="text-align: right;padding-right: 8px;display: none;">
                                                        <img src="assets/images/pos/icon_upload.png" alt="" style="width: 16px;height: 16px;margin: 0px 6px 6px 0px">
                                                        Ganti Design
                                                    </p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <img src="assets/images/pos/icon_horizontal_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="lebar" class="form-control" id="ulebar" placeholder="Lebar" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <img src="assets/images/pos/icon_vertical_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="tinggi" class="form-control" id="utinggi" placeholder="Tinggi" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button id="buploadgambar" type="button" data-dismiss="modal" class="ht8 btn btn-outline-primary bgcolor-primary-linear-gradient" style="width: 100%;">Upload Gambar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Upload-->
                <div id="headnav" class="">
                    <nav class="navbar-custom bgcolor-white" style="min-height: 44px;">
                        <ul class="navbar-right d-flex list-inline float-right mb-0">
                            <li class="dropdown notification-list">
                                <div class="dropdown notification-list nav-pro-img">
                                    <a class="" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="line-height: 48px !important;">
                                        <i class="mdi mdi-18px mdi-chevron-down" style="float: right;text-align: center;width: 40px; margin-right: 8px;"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <!-- item-->
                                        <a class="dropdown-item" href="/user/edit"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout_process"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                    </div>                                                                    
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 0px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:0px">
                                <img src="assets/images/nav/Profile.png" style="height: 30px;">
                            </div>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 10px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:6px" id="username" class="color-grey">
                                Fulan bin Fulan
                            </div>
                        </ul>
                    </nav>
                    <!-- Top Bar Start -->
                </div>
                <div class="main-pages" style="padding:24px 40px;">
                    <div class="row">
                        <div class="col-xl-5 col-md-12 color-black ht23">
                            Point Of Sale
                        </div>
                        <div class="col-xl-1 color-black ht23">
                            
                        </div>
                        <div class="col-xl-6 col-md-12 color-grey ht6 mt-1" style="text-align: right;">
                            <a href="/keranjang"><button type="button" style="padding:4px;" class="ht6 btn btn-labeled bgcolor-primary-linear-gradient"><span class="btn-label" style="margin-right: 4px;"><i class="mdi mdi-cart-outline"></i></span>Keranjang</button></a>
                        </div>
                    </div>
                    <!-- chart-->
                    <div class="row mt-2">
                        <!-- KIRI -->
                        <div class="col-xl-5 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    <div class="">
                                        <div class="col-md-12 row" style="">
                                                <div class="col-md-6 ht4 color-black" id="titlekaos" style="font-weight:bold;">
                                                    <i class="mdi mdi-tag-outline m-r-5" style="font-size: 13pt;margin-right: 8px;"></i> <span id="data-product-name">Kaos Red Been</span>
                                                </div>
                                                <div class="col-md-6 ht6 color-black" id="" style="text-align:right;">
                                                    <label>
                                                        <select class="myselect ht8" style="font-weight: 600;">
                                                            <option disabled selected value> Ganti Produk </option>
                                                            <option value="0">Kaos A</option>
                                                            <option value="0">Kaos B</option>
                                                            <option value="0">Kaos C</option>
                                                            <option value="0">Kaos D</option>
                                                            <option value="0">Kaos E</option>
                                                            <option value="0">Kaos F</option>
                                                        </select>
                                                    </label>
                                                </div>
                                        </div>
                                        
                                        <div class="col-md-12 mt-4" id="clothes_with_logo" style="">
                                            <div class="imagelogo" style="display: none;overflow: hidden;">
                                                <div id="penampung">
                                                    <img id="logoimage" src="" style="position: absolute;">
                                                </div>
                                            </div>
                                            <div id="img_product"  style="text-align: center;">
                                                <img id="produkpos" src="assets/images/pos/Kaos1.png" style="height: 326px;width:326px;resize: both;">
                                            </div>
                                        </div>
                                        <div class="col-md-12 row mt-4" id="" style="text-align: center;">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5" style="margin-left: 8px;">
                                                <button id="tampakdepan" type="button" class="ht8 btn btn-outline-primary" style="width: 143px;height: 33px;">Tampak Depan</button>
                                            </div>
                                            <div class="col-md-5">
                                                <button id="tampakbelakang" type="button" class="ht8 btn btn-outline-dark" style="width: 143px;height: 33px;">Tampak Belakang</button>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        <!-- KIRI -->
                        <!-- KANAN -->
                        <div class="col-xl-7 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    <div class="">
                                        <div class="" style="">
                                            <div class="col-md-6 ht4 color-black" id="" style="font-weight:bold;">
                                                <i class="mdi mdi-palette m-r-5" style="font-size: 13pt;margin-right: 8px;"></i> Kustomisasi Desain
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3" style="">
                                            <div class="row">
                                                <div class="col-md-6" id="" style="">
                                                    <div class="col-md-12 ht82">Ukuran</div>
                                                    <div class="col-md-12 ht82 mt-2" style="padding-left: 8px;">
                                                        <button class="bukuran">S</button>
                                                        <button class="bukuran activebukuran">M</button>
                                                        <button class="bukuran">L</button>
                                                        <button class="bukuran">XL</button>
                                                        <button class="bukuran">XXL</button>
                                                    </div>
                                                    <div class="col-md-12 ht82" style="margin-top: 0.9rem;">Warna</div>
                                                    <div class="col-md-12 ht82 mt-2" style="padding-left: 8px;">
                                                        <div class="dropdown show" style="font-weight: 600;">
                                                            <a style="color: black;background-color: #fff;" class="ht8 btn btn-secondary dropdown-toggle" href="#" role="button" id="titlebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i data-value="White" style="color:#fff;margin-right:8px;" class="fa-solid fa-square"></i>White
                                                            </a>

                                                            <ul class="dropdown-menu isiwarna" aria-labelledby="titlebutton">
                                                                <li data-value="Red Been"><a class="dropdown-item" href="#"><i data-value="#b94d43" style="color:#b94d43;margin-right:8px;" class="fa-solid fa-square"></i>Red Been</a></li>
                                                                <li data-value="Green"><a class="dropdown-item" href="#"><i  data-value="#65e132" style="color:#65e132;margin-right:8px;" class="fa-solid fa-square"></i>Green</a></li>
                                                                <li data-value="Yellow"><a class="dropdown-item" href="#"><i  data-value="#b9b543" style="color:#b9b543;margin-right:8px;" class="fa-solid fa-square"></i>Yellow</a></li>
                                                                <li data-value="Pink"><a class="dropdown-item" href="#"><i  data-value="#fb26e1" style="color:#fb26e1;margin-right:8px;" class="fa-solid fa-square"></i>Pink</a></li>
                                                                <li data-value="Blue"><a class="dropdown-item" href="#"><i  data-value="#43b9b9" style="color:#43b9b9;margin-right:8px;" class="fa-solid fa-square"></i>Blue</a></li>
                                                            </ul>
                                                        </div>
                                                        <!--<label>
                                                        <select id="selectcolor" class="myselect2 ht8 mdi" style="font-weight: 600;">
                                                            <option disabled selected value> Ganti Produk </option>
                                                            <option value="0" style="">&#xf0c8; Red Been</option>
                                                            <option value="0">Green</option>
                                                            <option value="0">Yellow</option>
                                                            <option value="0">Pink</option>
                                                            <option value="0">Blue</option>
                                                        </select>
                                                        </label>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="" style="">
                                                    <div class="col-md-12 ht82">Ukuran</div>
                                                        <div class="col-md-12 ht82 mt-2" style="padding-left: 8px;">
                                                            <label>
                                                                <select class="myselect2 ht8 mdi bgcolor-primary-linear-gradient" style="font-weight: 600;min-width: 202px;">
                                                                    <option disabled selected value> Pendek </option>
                                                                    <option style="color: #181717;" value="0">Pendek</option>
                                                                    <option style="color: #181717;" value="0">Panjang</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-12 ht82 mt-1">Jenis</div>
                                                        <div class="col-md-12 ht82 mt-2" style="padding-left: 8px;">
                                                            <button id="jeniskain" class="">-Pilih jenis kain-</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-2" id="" style="">
                                                <div class="ht82">Jumlah</div>
                                                <div class="ht82 mt-2" style="">
                                                    <button class="bjumlah_baju" id="min"><i class="fa-regular fa-square-minus"></i></button>
                                                    <button class="bjumlah_baju2 ht82" id="nilai" style="pointer-events: none;">0</button>
                                                    <button class="bjumlah_baju" id="plus"><i class="fa-regular fa-square-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-3" id="" style="">
                                                <div class="col-md-12 ht82" style="padding: 0px;">Letak Desain & Upload Gambar <span class="ht9" style="margin-left: 8px;opacity:0.7;"> (Maksimal 2 Letak)</span></div>
                                                <div class="col-md-12 ht82 mt-2" style="padding: 0px;">
                                                    <button class="bletakdesign activebukuran2" data-toggle="modal" data-target="#modalupload" value="Dada Tengah">Upload Image</button>
                                                </div>
                                                <div class="col-md-12 ht82 mt-2" style="padding: 0px;">
                                                    <button class="bukurandesign" id="perkecil" value="Dada Kanan">Perkecil</button>
                                                    <button class="bukurandesign" id="normal" value="Punggung">Normal</button>
                                                    <button class="bukurandesign" id="perbesar" value="Lengan Kanan">Perbesar</button>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-4" id="" style="">
                                                <div class="col-md-12 ht82 row" style="">
                                                    <div class="col-md-8 mt-1" style="padding-right: none;">
                                                        Ukuran Kertas
                                                        <span id="kertasdipilih" style="opacity:0.7;"></span>
                                                    </div>
                                                    
                                                    <div class="col-md-4">
                                                        <button id="jeniskertas" data-toggle="modal" data-target="#exampleModalCenter">Pilih Kertas Lain</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 ht82 mt-2" style="padding: 0px;">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-12 row mt-3" id="" style="text-align: center;">
                                                <div class="col-md-6">
                                                    <button type="button" class="ht8 btn btn-outline-dark" style="width: 100%;"><i class="mdi mdi-cart-outline" style="margin-right: 8px;"></i> Masukkan Keranjang</button>
                                                </div>
                                                <div class="col-md-6" style="">
                                                    <button id="btn_next" type="button" class="ht8 btn btn-outline-primary bgcolor-primary-linear-gradient" style="width: 100%;"><i class="fa-regular fa-paper-plane" style="margin-right: 8px;"></i>Lanjut</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        <!--KANAN-->
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/waves.min.js"></script>
        <script src="assets/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/css/jquery-ui/jquery-ui.css">
        <script src="plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
        <!-- Peity JS -->
        <script src="plugins/peity/jquery.peity.min.js"></script>
        <!--<script src="plugins/morris/morris.min.js"></script>-->
        <script src="plugins/raphael/raphael-min.js"></script>
        <!--<script src="assets/pages/dashboard.js"></script>-->
        <!-- Required datatable js -->
        <script src="plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="plugins/datatables/jszip.min.js"></script>
        <script src="plugins/datatables/pdfmake.min.js"></script>
        <script src="plugins/datatables/vfs_fonts.js"></script>
        <script src="plugins/datatables/buttons.html5.min.js"></script>
        <script src="plugins/datatables/buttons.print.min.js"></script>
        <script src="plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
        <!-- Datatable init js -->
        <script src="assets/pages/datatables.init.js"></script>
        <!-- App js -->
        <script src="assets/js/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    </body>
</html>
{{> scripts}}
<script>
    var paper_bucket = [];
    
    var product_color = $("#titlebutton").children("i").attr("data-value");
    //console.log(product_color);

    $.ajax({
        url: '/papers/',
        type: 'get',
        data: {  },
        success: function(data){
            $.each(data.data,function(key,value){
                 $("#bucketskertas").append(
                    ` <div class="col-md-6 mt-2">
                        <div class="card" style="padding: 8px 16px;">
                            <div class="row">
                                <div class="col-md-2" style="margin-right: 8px;">
                                    <img src="assets/images/pos/PETFilmA6.png" style="width: 57px; height:48px">
                                </div>
                                <div class="col-md-6">
                                    <div id="namapet" class="ht82 mt-1">${value.name}</div>
                                    <div id="hargapet" class="ht62 color-red">Rp. ${value.price}</div>
                                </div>
                                <div class="col-md-3" style="text-align: right;padding-top: 8px;">
                                    <i id="minmodal" data-name="${value.name}" data-index="${key}" data-id="${value.idpaper}" class="cminbarang fa-regular fa-square-minus" style="font-size: 20px;cursor: pointer;"></i>
                                    <b id="nilaijeniskertas" class="cnilaibarang" style="font-size: 20px; margin:0px 8px;">0</b>
                                    <i id="plusmodal" data-name="${value.name}" data-index="${key}" data-id="${value.idpaper}" class="cplusbarang fa-regular fa-square-plus" style="font-size: 20px;cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                    </div>`);
            });
        }
    });
    
    $("#bucketskertas").on('click','.cplusbarang',function(){
        var nilaipenampung = $(this).siblings('.cnilaibarang').text();
        var nilai = parseInt(nilaipenampung);
        nilai+=1;
        $(this).siblings('.cnilaibarang').html(nilai);
        paper_bucket[$(this).data("index")] = {id:$(this).data("id"),nilai:nilai,name:$(this).data("name")};
    });

    $("#bucketskertas").on('click','.cminbarang',function(){
        var nilaipenampung2 = $(this).siblings('.cnilaibarang').text();
        var nilai2 = parseInt(nilaipenampung2);

        if(nilaipenampung2!=0){
            nilai2-=1;
            $(this).siblings('.cnilaibarang').html(nilai2);
        }

        paper_bucket[$(this).data("index")] = {id:$(this).data("id"),nilai:nilai2,name:$(this).data("name")};
    });

    $("#btn_add_paper").click(function(){
        console.log(paper_bucket);
        $("#kertasdipilih").html("[Custom]");
        $.each(paper_bucket,function(key,value){  
            if(value){
                $("#kertasdipilih").append(value.name+" x "+value.nilai+" & ");
            }
        });

        var divtext = $("#kertasdipilih").text();
        $("#kertasdipilih").html(divtext.slice(0,-2));
    });

    var jumalahpesan = 0;
    $("#plus").click(function(){
        jumalahpesan+=1;
        $('#nilai').html(jumalahpesan);
    });

    $("#min").click(function(){
        if(jumalahpesan!=0){
            jumalahpesan-=1;
            $('#nilai').html(jumalahpesan);
        }else{
            
        }
        
    });

    $("#tampakbelakang").click(function(){
        $('#produkpos').attr('src','assets/images/pos/bajubelakang.jpeg')
    });

    $("#tampakdepan").click(function(){
        $('#produkpos').attr('src','assets/images/pos/Kaos1.png')
    });

    $(".bletakdesign").click(function(){
        var text = $( this ).text();
        $(".bletakdesign").removeClass("activebukuran2");
        $(this).addClass("activebukuran2");
        $('#titlemodalletakdesain').html(text);
    });

    $(".bukuran").click(function(){
        $(".bukuran").removeClass("activebukuran");
        $(this).addClass("activebukuran");
    });

    $(".isiwarna li").click(function(){
        var colorval=$(this).children("a").children("i").data('value');
        $("#titlebutton").html("<i style='color:"+colorval+";margin-right:8px;' class='fa-solid fa-square'></i>"+$(this).text()+'<span class="caret"></span>');
    });

    /*setTimeout(function(){
        $(".isiwarna li").trigger("click");
    },500);*/

    $(".isikain li").click(function(){
        var colorval=$(this).data('value');
        $("#jeniskertasdropdown").html($(this).text());
    });

    $('#upload_costum').change(function(event) {
        let tmppath = URL.createObjectURL(event.target.files[0])
        $('.image > img').fadeIn('fast').attr('src',tmppath);
        $('.image > img').css('display','');
        $('#infoupload').css('display','');
        $('.drag_text2').css('display','none');

        $('#buploadgambar').click(function() {
            $('.imagelogo').show();
            $('.imagelogo div > img').fadeIn('fast').attr('src',tmppath);
        });
    });
    
    $("div.list-item").hover(function(){
        $(this).children( "a" ).css("color", "#5BC9E1");
        $(this).children( "a" ).children(".link").addClass("activebutton");
        $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
        $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");

        $(".list-item").click(function(){
            console.log("tidur");
            $(".list-item").children( "a" ).children("div").children("img:first-child").css("display","");
            $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
            $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").removeClass("activebuttonimage");
            $(".list-item").children( "a" ).children("div").children(".description").removeClass("activebutton2");
            $(this).children( "a" ).children("div").children(".description").addClass("activebutton2");
            $(".link").removeClass("activebuttonon");
            $(this).children( "a" ).children(".link").addClass("activebuttonon");
            $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").addClass("activebuttonimage");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
        });
        $("#foo").attr("src", "bar2.jpg");

        }, function(){
            $(this).children( "a" ).css("color", "#595552");
            $(this).children( "a" ).children(".link").removeClass("activebutton");
            if ($(this).children( "a" ).children("div").children("img:nth-child(2)").hasClass("activebuttonimage")){
                $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
            } else {
                $(this).children( "a" ).children("div").children("img:first-child").css("display","");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
            }   
    });

    $("#buttonminimize").click(function() {
        document.getElementById('sidebar').classList.toggle("hidesidebar");
        document.getElementById('buttonminimize').classList.toggle("movebutton");
        has = $("#buttonminimize").hasClass("movebutton");
        if (has){
            $(".sidebar .header .list-item").html("<img src='assets/images/nav/logo.png' style='width: 3.1vw; height:10vh;margin-left:8px;'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button2.png' class='icon' style='width: 40px;height: 40px;'>");
        }else{
            $(".sidebar .header .list-item").html("<img src='assets/images/logo2.png' style='width: 13vw; height:10vh'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button.png' class='icon' style='width: 40px;height: 40px;'>");
        }
    });

    $('#kaos').click(function(){
        window.location.href='/pos';
        return false;
    })

    $('#btn_next').click(function(){
        screenshot();
        return false;
    })

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const idProducts = urlParams.get('product_id');
    var item_net_cost = 0;

    $.ajax({
        url: '/products/'+idProducts,
        type: 'get',
        data: {  },
        success: function(data){
            $.each(data.data,function(key,value){
                $("#img_product").html(`<img class="${value.class}" src="assets/images/pos/${value.pic}" style="height: 326px;width:326px;resize: both;">`)
                $("#data-product-name").html(value.name);
                item_net_cost = value.price;
            });
        }
    });
 
    function screenshot(){
        //var pic_id = $("#clothes_with_logo");
        html2canvas(document.getElementById("clothes_with_logo"),{background: '#fff'}).then(function(canvas) {
            document.getElementById("clothes_with_logo").appendChild(canvas);

            // Get base64URL
            var base64URL = canvas.toDataURL('image/jpeg').replace('image/jpeg', 'image/octet-stream');

            // AJAX request
            $.ajax({
                url: artomia_server_url+'/artomia_cap.php',
                type: 'post',
                data: {image: base64URL},
                success: function(data){
                    var jsonParsed = JSON.parse(data);
                    console.log('Upload successfully');
                    console.log(jsonParsed["product_pic_logo"]);

                    var product_name = $("#data-product-name").text();
                    var product_color = $("#titlebutton").children("i").attr("data-value");
                    var product_size = $(".bukuran.activebukuran").text();
                    var product_pic_logo = jsonParsed["product_pic_logo"];

                    console.log(product_color);
                    $.ajax({
                        url: '/keranjang_add',
                        type: 'get',
                        data: {
                            product_id: idProducts,
                            product_name: product_name,
                            product_color: product_color,
                            product_size: product_size,
                            product_pic_logo: product_pic_logo,
                            item_net_cost:item_net_cost,
                            item_amount:1,
                            item_total_cost:item_net_cost,
                            paper_bucket:paper_bucket
                        },
                        success: function(data){
                            console.log('Upload successfully');
                            window.location.href='/keranjang';
                        }
                     });
                    /*console.log("Product Name : "+$("#data-product-name").text());
                    console.log("Color :"+$("#titlebutton").text());
                    console.log("Size :"+$(".bukuran.activebukuran").text());*/
                    //window.location.href='/keranjang';
                }
            });
        });  
    }
    //Number value only
    (function($) {
        $.fn.inputFilter = function(callback, errMsg) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop focusout", function(e) {
            if (callback(this.value)) {
                // Accepted value
                if (["keydown","mousedown","focusout"].indexOf(e.type) >= 0){
                $(this).removeClass("input-error");
                this.setCustomValidity("");
                }
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
                // Rejected value - restore the previous one
                $(this).addClass("input-error");
                this.setCustomValidity(errMsg);
                this.reportValidity();
                this.value = this.oldValue;
                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            } else {
                // Rejected value - nothing to restore
                this.value = "";
            }
            });
        };
    }(jQuery));
    $(document).ready(function() {
        $("#lebar, #tinggi").inputFilter(function(value) {
            return /^\d*$/.test(value);    // Allow digits only, using a RegExp
        },"Only digits allowed");
    });
    //Number value only
    dragElement(document.getElementById("logoimage"));
    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id)) {
            /* if present, the header is where you move the DIV from:*/
            document.getElementById(elmnt.id).onmousedown = dragMouseDown;
        } else {
            /* otherwise, move the DIV from anywhere inside the DIV:*/
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            /* stop moving when mouse button is released:*/
            document.onmouseup = null;
            document.onmousemove = null;
        }
    };

    $('#perbesar').click(function(){
        enlargeImg();
    });
    $('#normal').click(function(){
        resetImg();
    });
    $('#perkecil').click(function(){
        minImg();
    });
    img = document.getElementById("logoimage");
    // Function to increase image size
    function enlargeImg() {
    // Set image size to 1.5 times original
        img.style.transform = "scale(1.5)";
        // Animation effect
        img.style.transition = "transform 0.25s ease";
    }
    // Function to reset image size
    function resetImg() {
    // Set image size to original
        img.style.transform = "scale(1)";
        img.style.transition = "transform 0.25s ease";
    }
    function minImg() {
    // Set image size to original
        img.style.transform = "scale(0.5)";
        img.style.transition = "transform 0.25s ease";
    }
</script>