{{> head}}
    <script src="assets/js/sweetalert/sweetalert2@11.js"></script>
    <body>
        <div class="container2" style="max-width: none;padding: 0px">
            <div class="sidebar bgcolor-white" id="sidebar">
                <div class="header" style="margin: 24px;">
                    <div class="list-item">
                        <img src="assets/images/logo2.png" style="width: 13vw; height:10vh">
                        <!--<img src="assets/images/nav/Logo.png" alt="" class="icon" style="width: 48px;height: 80px;">-->
                    </div>
                </div>
                
                <div class="main ">
                        <div class="list-item">
                            <a href="/">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Home.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Home2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Dashboard</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/pos">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link activebuttonon">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Sales.png" alt="" class="icon" style="float: left;display: none;">
                                    <img src="assets/images/nav/Sales2.png" alt="" class="icon activebuttonimage" style="float: left;">
                                    <span style="margin-top:4px;" class="description activebutton2">Point of Sale</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/transaksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Transaction.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Transaction2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Transaksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/akunting">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Accounting.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Accounting2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Akunting</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/produksi">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Production.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Production2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Produksi</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/stok">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Stock.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Stock2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Stok</span>
                                </div>
                            </a>
                        </div>
                        <div class="list-item">
                            <a href="/datauser">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/User.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/User2.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description">Pengguna</span>
                                </div>
                            </a>
                        </div>
                </div>
                <div class="main2" style="margin-bottom: 16px;">
                    <div class="list-item">
                            <a href="/logout_process">
                                <div style="float: left; width:6px;height:6vh; margin-right:32px;border-radius: 0px 8px 8px 0px;" class="link">
                                </div>
                                <div style="padding: 4px;float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;">
                                    <img src="assets/images/nav/Logout.png" alt="" class="icon" style="float: left;display: none;">
                                    <span style="margin-top:4px;" class="description color-red">Keluar</span>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
            <div id="buttonminimize" style="position: absolute;top:240;left:244;transition: all ease-in .2s;cursor: pointer;">
                <img src="assets/images/nav/Button.png" alt="" class="icon" style="width: 40px;height: 40px;">
            </div>
            <div class="main-content" style="flex: 1;">
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document" style="margin:2.75rem auto">
                        <div class="modal-content" style="background-color: #FAFAFA;">
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/logo2.png" style="width: 10vw; height:7.8vh">
                                            <span class="ht6" style="    margin-left: 8px;vertical-align: middle;font-weight: 600">| Pilih Kertas</span>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: 0.5px solid #6b6865;transition-duration: 0.2s;border-radius: 16px;padding: 0px 8px 8px 8px;margin-top:8px;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mt-2" id="bucketskertas">
                                        <!-- Card Pada modal Jenis Kertas -->
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <div class="dropdown show" style="font-weight: 600;">
                                                <a style="color: black;background-color: #fff;width: 100%;text-align: left;" class="ht8 btn btn-secondary dropdown-toggle togglekain" href="#" role="button" id="jeniskertasdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Pet Film Corporate
                                                </a>
                                                <ul class="dropdown-menu isikain" aria-labelledby="jeniskertasdropdown" style="width: 100%;">
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A4</a></li>
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A5</a></li>
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A6</a></li>
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A7</a></li>
                                                    <li data-value=""><a class="dropdown-item" href="#">Pet Film Corporate A8</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <img src="assets/images/pos/icon_horizontal_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="lebar" class="form-control" id="lebar" placeholder="Lebar" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <img src="assets/images/pos/icon_vertical_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="tinggi" class="form-control" id="tinggi" placeholder="Tinggi" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="ht8 btn btn-outline-primary bgcolor-primary-linear-gradient" style="width: 100%;" id="btn_add_paper">Tambah Kertas</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <!-- Modal Upload -->
                <div class="modal fade" id="modalupload" tabindex="-1" role="dialog" aria-labelledby="modalupload" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document" style="margin:2.75rem auto">
                        <div class="modal-content" style="background-color: #FAFAFA;">
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/logo2.png" style="width: 10vw; height:7.8vh">
                                            <span class="ht6" style="margin-left: 8px;vertical-align: middle;font-weight: 600">| Upload</span>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: 0.5px solid #6b6865;transition-duration: 0.2s;border-radius: 16px;padding: 0px 8px 8px 8px;margin-top:8px;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <span id="titlemodalletakdesain" class="ht6" style="vertical-align: middle;font-weight: 600">Depan Tengah</span>
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <div class="containerupload">
                                                <form id="uploadForms_f"  enctype="multipart/form-data">
                                                    <input type="file" class="upload_hide" id="upload_costum_f" name="upload_costum" multiple>
                                                    <label for="upload_costum"  class="upload_label">
                                                        <div class="image_f">
                                                            <img src="" alt="" style="display:none;">
                                                        </div>
                                                        <p class="drag_text drag_text2_f ht4">Masukan Gambar Logo Depan</p>
                                                        <p class="drag_text2_f">Seret File atau Pilih Gambar</p>
                                                        <i class="drag_text2_f fa-regular fa-square-plus"></i>
                                                        <p id="infoupload_f" class="" style="text-align: right;padding-right: 8px;display: none;">
                                                            <img src="assets/images/pos/icon_upload.png" alt="" style="width: 16px;height: 16px;margin: 0px 6px 6px 0px">
                                                            Ganti Design
                                                        </p>
                                                    </label>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <div class="containerupload">
                                                <form id="uploadForms_b"  enctype="multipart/form-data">
                                                    <input type="file" class="upload_hide" id="upload_costum_b" name="upload_costum" multiple>
                                                    <label for="upload_costum"  class="upload_label">
                                                        <div class="image_b">
                                                            <img src="" alt="" style="display:none;">
                                                        </div>
                                                        <p class="drag_text drag_text2_b ht4">Masukan Gambar Logo Belakang</p>
                                                        <p class="drag_text2_b">Seret File atau Pilih Gambar</p>
                                                        <i class="drag_text2_b fa-regular fa-square-plus"></i>
                                                        <p id="infoupload_b" class="" style="text-align: right;padding-right: 8px;display: none;">
                                                            <img src="assets/images/pos/icon_upload.png" alt="" style="width: 16px;height: 16px;margin: 0px 6px 6px 0px">
                                                            Ganti Design
                                                        </p>
                                                    </label>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <img src="assets/images/pos/icon_horizontal_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="lebar" class="form-control" id="ulebar" placeholder="Lebar" value="0" required/>
                                                <img src="assets/images/pos/icon_vertical_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="tinggi" class="form-control" id="utinggi" placeholder="Tinggi" value="0" required />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <img src="assets/images/pos/icon_horizontal_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="tinggi" class="form-control" id="ulebar2" placeholder="Tinggi" value="0" required />
                                                <img src="assets/images/pos/icon_vertical_maximize.png" style="position: absolute;width: 16px;margin: 8px;">
                                                <input style="height:2rem !important;padding-left: 48px;font-size: 14px;" type="text" name="tinggi" class="form-control" id="utinggi2" placeholder="Tinggi" value="0" required />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button id="buploadgambar" type="button" data-dismiss="modal" class="ht8 btn btn-outline-primary bgcolor-primary-linear-gradient" style="width: 100%;">Upload Gambar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Upload-->
                <div id="headnav" class="">
                    <nav class="navbar-custom bgcolor-white" style="min-height: 44px;">
                        <ul class="navbar-right d-flex list-inline float-right mb-0">
                            <li class="dropdown notification-list">
                                <div class="dropdown notification-list nav-pro-img">
                                    <a class="" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="line-height: 48px !important;">
                                        <i class="mdi mdi-18px mdi-chevron-down" style="float: right;text-align: center;width: 40px; margin-right: 8px;"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <!-- item-->
                                        <a class="dropdown-item" href="/user/edit"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout_process"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                    </div>                                                                    
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 0px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:0px">
                                <img src="assets/images/nav/Profile.png" style="height: 30px;">
                            </div>
                        </ul>
                        <ul class="navbar-right d-flex list-inline float-right" style="color: white; margin:6px 10px 10px 10px;border-right: 2px solid white;">
                            <div style="margin-top:6px" id="username" class="color-grey">
                                {{username}}
                            </div>
                        </ul>
                    </nav>
                    <!-- Top Bar Start -->
                </div>
                <div class="main-pages" style="padding:24px 40px;">
                    <div class="row">
                        <div class="col-xl-5 col-md-12 color-black ht23">
                            Point Of Sale
                        </div>
                        <div class="col-xl-1 color-black ht23">
                            
                        </div>
                        <div class="col-xl-6 col-md-12 color-grey ht6 mt-1" style="text-align: right;">
                            <a href="/keranjang"><button type="button" style="padding:4px;" class="ht6 btn btn-labeled bgcolor-primary-linear-gradient"><span class="btn-label" style="margin-right: 4px;"><i class="mdi mdi-cart-outline"></i></span>Keranjang</button></a>
                        </div>
                    </div>
                    <!-- chart-->
                    <div class="row mt-2">
                        <!-- KIRI -->
                        <div class="col-xl-5 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    <div class="">
                                        <div class="col-md-12 row" style="">
                                            <div class="col-md-6 ht4 color-black" id="titlekaos" style="font-weight:bold;">
                                                <i class="mdi mdi-tag-outline m-r-5" style="font-size: 13pt;margin-right: 8px;"></i> <span id="data-product-name">Kaos Red Been</span>
                                            </div>
                                            <div class="col-md-6 ht6 color-black" id="" style="text-align:right;">
                                                <label>
                                                    <select class="myselect ht8" style="font-weight: 600;">
                                                        <option disabled selected value> Ganti Produk </option>
                                                        <option value="0">Kaos A</option>
                                                        <option value="0">Kaos B</option>
                                                        <option value="0">Kaos C</option>
                                                        <option value="0">Kaos D</option>
                                                        <option value="0">Kaos E</option>
                                                        <option value="0">Kaos F</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 mt-4" id="clothes_with_logo" style="height:350px">
                                            <div class="col-md-12" id="clothes_with_logo_f">
                                                <div class="imagelogo_f" style="display: none;overflow: hidden;">
                                                    <div id="penampung">
                                                        <img id="logoimage_f" src="" style="position: absolute;">
                                                    </div>
                                                </div>
                                                <div id="img_product_f"  style="text-align: center;">
                                                    <div id="tampungwarnabackground">
                                                        <img id="produkpos" src="assets/images/kaos/bajudepan1.png" style="height: 326px;width:326px;resize: both;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" id="clothes_with_logo_b" style="top:-1000px">
                                                <div class="imagelogo_b" style="display: none;overflow: hidden;">
                                                    <div id="penampung">
                                                        <img id="logoimage_b" src="" style="position: absolute;">
                                                    </div>
                                                </div>
                                                <div id="img_product_b"  style="text-align: center;">
                                                    <div id="tampungwarnabackground">
                                                        <img id="produkpos" src="assets/images/kaos/bajubelakang1.png" style="height: 326px;width:326px;resize: both;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 row mt-4" id="" style="text-align: center;">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5" style="margin-left: 8px;">
                                                <button id="tampakdepan" type="button" class="ht8 btn btn-outline-primary" style="width: 143px;height: 33px;">Tampak Depan</button>
                                            </div>
                                            <div class="col-md-5">
                                                <button id="tampakbelakang" type="button" class="ht8 btn btn-outline-dark" style="width: 143px;height: 33px;">Tampak Belakang</button>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        <!-- KIRI -->
                        <!-- KANAN -->
                        <div class="col-xl-7 col-md-12">
                            <div class="card mini-stat position-relative" style="">
                                <div class="card-body" style="">
                                    <div class="">
                                        <div class="" style="">
                                            <div class="col-md-6 ht4 color-black" id="" style="font-weight:bold;">
                                                <i class="mdi mdi-palette m-r-5" style="font-size: 13pt;margin-right: 8px;"></i> Kustomisasi Desain
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3" style="">
                                            <div class="row">
                                                <div class="col-md-12" id="" style="margin-bottom:10px">
                                                    <div class="col-md-12 ht82">Harga</div>
                                                    <div class="col-md-12" id="price_spec">Rp. 90000</div>
                                                </div>
                                                <div class="col-md-6" id="" style="">
                                                    <div class="col-md-12 ht82">Ukuran</div>
                                                    <div class="col-md-12 ht82 mt-2" style="padding-left: 8px;">
                                                        <button id="s" class="bukuran" style="display: none;">S</button>
                                                        <button id="m" class="bukuran" style="display: none;">M</button>
                                                        <button id="l" class="bukuran" style="display: none;">L</button>
                                                        <button id="xl" class="bukuran" style="display: none;">XL</button>
                                                        <button id="xxl" class="bukuran" style="display: none;">XXL</button>
                                                    </div>
                                                    <div class="col-md-12 ht82" style="margin-top: 0.9rem;">Warna</div>
                                                    <div class="col-md-12 ht82 mt-2" style="padding-left: 8px;">
                                                        <div class="dropdown show" style="font-weight: 600;">
                                                            <a style="color: black;background-color: #fff;" class="ht8 btn btn-secondary dropdown-toggle" href="#" role="button" id="titlebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i data-value="White" style="color:#fff;margin-right:8px;" class="fa-solid fa-square"></i>White
                                                            </a>

                                                            <ul class="dropdown-menu isiwarna" aria-labelledby="titlebutton">
                                                                <li data-value="white"><a class="dropdown-item" href="#"><i data-value="#fff" style="color:#fff;margin-right:8px;" class="fa-solid fa-square"></i>White</a></li>
                                                                <li data-value="merah"><a class="dropdown-item" href="#"><i data-value="#b94d43" style="color:#b94d43;margin-right:8px;" class="fa-solid fa-square"></i>Red Been</a></li>
                                                                <li data-value="hijau"><a class="dropdown-item" href="#"><i  data-value="#65e132" style="color:#65e132;margin-right:8px;" class="fa-solid fa-square"></i>Green</a></li>
                                                                <li data-value="kuning"><a class="dropdown-item" href="#"><i  data-value="#b9b543" style="color:#b9b543;margin-right:8px;" class="fa-solid fa-square"></i>Yellow</a></li>
                                                                <li data-value="grey"><a class="dropdown-item" href="#"><i  data-value="#5f5f5f" style="color:#5f5f5f;margin-right:8px;" class="fa-solid fa-square"></i>Grey</a></li>
                                                                <li data-value="biru"><a class="dropdown-item" href="#"><i  data-value="#43b9b9" style="color:#43b9b9;margin-right:8px;" class="fa-solid fa-square"></i>Blue</a></li>
                                                            </ul>
                                                        </div>
                                                        <!--<label>
                                                        <select id="selectcolor" class="myselect2 ht8 mdi" style="font-weight: 600;">
                                                            <option disabled selected value> Ganti Produk </option>
                                                            <option value="0" style="">&#xf0c8; Red Been</option>
                                                            <option value="0">Green</option>
                                                            <option value="0">Yellow</option>
                                                            <option value="0">Pink</option>
                                                            <option value="0">Blue</option>
                                                        </select>
                                                        </label>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="" style="">
                                                    <div class="col-md-12 ht82">Ukuran</div>
                                                        <div class="col-md-12 ht82 mt-2" style="padding-left: 8px;">
                                                            <label>
                                                                <select class="myselect2 ht8 mdi bgcolor-primary-linear-gradient" style="font-weight: 600;min-width: 202px;">
                                                                    <option disabled selected value> Pendek </option>
                                                                    <option style="color: #181717;" value="0">Pendek</option>
                                                                    <option style="color: #181717;" value="0">Panjang</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-12 ht82 mt-1">Jenis</div>
                                                        <div class="col-md-12 ht82 mt-2" style="padding-left: 8px;">
                                                            <button id="jeniskain" class="">-Pilih jenis kain-</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-2" id="" style="">
                                                <div class="ht82">Jumlah</div>
                                                <div class="ht82 mt-2" style="">
                                                    <button class="bjumlah_baju" id="min"><i class="fa-regular fa-square-minus"></i></button>
                                                    <button class="bjumlah_baju2 ht82" id="nilai" style="pointer-events: none;">1</button>
                                                    <button class="bjumlah_baju" id="plus"><i class="fa-regular fa-square-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-3" id="" style="">
                                                <div class="col-md-12 ht82" style="padding: 0px;">Letak Desain & Upload Gambar <span class="ht9" style="margin-left: 8px;opacity:0.7;"> (Maksimal 2 Letak)</span></div>
                                                <div class="col-md-12 ht82 mt-2" style="padding: 0px;">
                                                    <button class="bletakdesign activebukuran2" data-toggle="modal" data-target="#modalupload" value="Dada Tengah">Upload Image</button>
                                                </div>
                                                <div class="col-md-12 ht82 mt-2" style="padding: 0px;">
                                                    <button class="bukurandesign" id="perkecil" value="Dada Kanan">Perkecil</button>
                                                    <button class="bukurandesign" id="normal" value="Punggung">Normal</button>
                                                    <button class="bukurandesign" id="perbesar" value="Lengan Kanan">Perbesar</button>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-4" id="" style="">
                                                <div class="col-md-12 ht82 row" style="">
                                                    <div class="col-md-8 mt-1" style="padding-right: none;">
                                                        Ukuran Kertas
                                                        <span id="kertasdipilih" style="opacity:0.7;"></span>
                                                    </div>
                                                    
                                                    <div class="col-md-4">
                                                        <button id="jeniskertas" data-toggle="modal" data-target="#exampleModalCenter">Pilih Kertas Lain</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 ht82 mt-2" style="padding: 0px;">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-12 row mt-3" id="" style="text-align: center;">
                                                <div class="col-md-6">
                                                    <button id="btn_in_bucket" type="button" class="ht8 btn btn-outline-dark" style="width: 100%;"><i class="mdi mdi-cart-outline" style="margin-right: 8px;"></i> Masukkan Keranjang</button>
                                                </div>
                                                <div class="col-md-6" style="">
                                                    <button id="btn_next" type="button" class="ht8 btn btn-outline-primary bgcolor-primary-linear-gradient" style="width: 100%;"><i class="fa-regular fa-paper-plane" style="margin-right: 8px;"></i>Lanjut</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>          
                                </div>
                            </div>
                        </div>
                        <!--KANAN-->
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/waves.min.js"></script>
        <script src="assets/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/css/jquery-ui/jquery-ui.css">
        <script src="plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
        <!-- Peity JS -->
        <script src="plugins/peity/jquery.peity.min.js"></script>
        <!--<script src="plugins/morris/morris.min.js"></script>-->
        <script src="plugins/raphael/raphael-min.js"></script>
        <!--<script src="assets/pages/dashboard.js"></script>-->
        <!-- Required datatable js -->
        <script src="plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="plugins/datatables/jszip.min.js"></script>
        <script src="plugins/datatables/pdfmake.min.js"></script>
        <script src="plugins/datatables/vfs_fonts.js"></script>
        <script src="plugins/datatables/buttons.html5.min.js"></script>
        <script src="plugins/datatables/buttons.print.min.js"></script>
        <script src="plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
        <!-- Datatable init js -->
        <script src="assets/pages/datatables.init.js"></script>
        <!-- App js -->
        <script src="assets/js/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    </body>
</html>
{{> scripts}}
<script>
    var paper_bucket = {};
    var product_color = $("#titlebutton").children("i").attr("data-value");
    
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const idProducts = urlParams.get('product_id');

    var product_spec_id;
    var item_net_cost = 0;
    var jumalahpesan = 1;
    var product_color_new = "";

    var url_select_warna ;
    var url_select_size;
    var url_select_price;

    getcolorlist();
    //getPaper();

    function getcolorlist(){
        //console.log("url_select_warna");

        switch(idProducts){
            case '1':
            url_select_warna = '/product_kaos_select_warna';
            url_select_size = '/product_kaos_select_size';
            url_select_price = '/product_kaos_select_price'
            break;

            case '2':
            url_select_warna = '/product_sweater_select_warna';
            url_select_size = '/product_sweater_select_size';
            url_select_price = '/product_sweater_select_price'
            break;

            case '4':
            url_select_warna = '/product_tanktop_select_warna';
            url_select_size = '/product_tanktop_select_size';
            url_select_price = '/product_tanktop_select_price'
            break;

            case '5':
            url_select_warna = '/product_topi_select_warna';
            url_select_size = '/product_topi_select_size';
            url_select_price = '/product_topi_select_price'
            break;

            case '6':
            url_select_warna = '/product_totebag_select_warna';
            url_select_size = '/product_totebag_select_size';
            url_select_price = '/product_totebag_select_price'
            break;

            case '7':
            url_select_warna = '/product_polocap_select_warna';
            url_select_size = '/product_polocap_select_size';
            url_select_price = '/product_polocap_select_price'
            break;

            case '8':
            url_select_warna = '/product_panelcap_select_warna';
            url_select_size = '/product_panelcap_select_size';
            url_select_price = '/product_panelcap_select_price'
            break;

            case '9':
            url_select_warna = '/product_truckercap_select_warna';
            url_select_size = '/product_truckercap_select_size';
            url_select_price = '/product_truckercap_select_price'
            break;
        }

        //console.log("url_select_warna"+url_select_warna);

        $.ajax({
            url: url_select_warna,
            type: 'get',
            data: {

            },
            success: function(data){
                $("#titlebutton").html('');
                $(".isiwarna").html('');
                
                $.each(data.data,function(key,value){
                    var str3 = "" + value.idpaper;
                    var uppercasefirsword= value.warna;
                    const finaluppercase = uppercasefirsword.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase());
                    if (key==0)
                    {
                        $("#titlebutton").append(`
                            <i data-value="${value.kode}" style="color:${value.kode};margin-right:8px;" class="fa-solid fa-square"></i><span>${finaluppercase}</span>
                        `);
                    }
                    $(".isiwarna").append(`
                        <li data-value="${value.warna}">
                            <a class="dropdown-item" href="#">
                                <i data-value="${value.kode}" style="color:${value.kode};margin-right:8px;" class="fa-solid fa-square"></i>
                                <span>${finaluppercase}</span>
                            </a>
                        </li>
                    `);
                });
            },complete:function(data){
                $(".bukuran").removeClass("activebukuran");
                var product_color_get = $("#titlebutton").children("span").text();
                product_color_new = $("#titlebutton").children("span").text();
                var tolowercasecolorname = product_color_get.toLowerCase();
                {{!-- console.log(tolowercasecolorname); --}}
                
                $.ajax({
                    url: url_select_size,
                    type: 'POST',
                    data: {warna:product_color_get},
                    success: function(data){
                        $.each(data.data,function(key,value){
                            if(key == 0){
                                $('#'+value.size).show().addClass("activebukuran");
                            }else{
                                $('#'+value.size).show();
                            }
                        });
                    },complete:function(){
                        var product_size = $(".bukuran.activebukuran").text();
                        $.ajax({
                            url: url_select_price,
                            type: 'GET',
                            data: {warna:product_color_new, size: product_size},
                            success: function(data){
                                $.each(data.data,function(key,value){
                                    item_net_cost = value.price;
                                    product_spec_id = value.product_id_spec;
                                    $("#price_spec").html("Rp. "+value.price)
                                });
                            }
                        });  

                        //Change Product Look First Time
                        var jenisproduk=$('#produkpos').attr('class');
                        var colorval=$(".isiwarna li").children("a").children("i").data('value');
                        $("div #tampungwarnabackground").css('background-color',colorval);
                    }
                });

                $(".isiwarna li").click(function(){
                    $(".bukuran").removeClass("activebukuran");
                    $(".bukuran").hide();

                    var jenisproduk=$('#produkpos').attr('class');
                    var colorval=$(this).children("a").children("i").data('value');
                    var colorval2=$(this).data('value');

                    product_color_new = $(this).data('value');

                    $("div #tampungwarnabackground").css('background-color',colorval);
                    
                    /*$("#tampakbelakang").click(function(){
                        $('#produkpos').attr('src',tampungselect2);
                    });

                    $("#tampakdepan").click(function(){
                        $('#produkpos').attr('src',tampungselect);
                    });*/
                    
                    $("#titlebutton").html("<i data-value='"+$(this).text()+"' style='color:"+colorval+";margin-right:8px;' class='fa-solid fa-square'></i>"+$(this).text()+'<span class="caret"></span>');
                    
                    $.ajax({
                        url: url_select_size,
                        type: 'POST',
                        data: {warna:colorval2},
                        success: function(data){
                            $.each(data.data,function(key,value){
                                if(key == 0){
                                    $('#'+value.size).show().addClass("activebukuran");
                                }else{
                                    $('#'+value.size).show();
                                }
                            });
                        },
                        complete(){
                            var product_size = $(".bukuran.activebukuran").text();
                            $.ajax({
                                url: url_select_price,
                                type: 'GET',
                                data: {warna:product_color_new, size: product_size},
                                success: function(data){
                                    $.each(data.data,function(key,value){
                                        product_spec_id = value.product_id_spec;
                                        item_net_cost = value.price;
                                        $("#price_spec").html("Rp. "+value.price)
                                    });
                                }
                            });     
                        }
                    });         
                });
            }
        });
    }

    $('#btn_next').click(function(){
        screenshot();
        console.log(">>> product_color_new "+product_color_new);
        /*var data_f = new FormData($('#uploadForms')[0]);
        console.log(data_f);
        $.ajax({
            url:'/upload2',
            type: 'POST',
            contentType: false,
            processData: false,
            cache: false,
            data: data_f,
            success: function(res){
                alert(res);
            },
            error: function(){
                alert('Error: In sending the request!');
            }
        });*/
        return false;
    })

    $("#bucketskertas").on('click','.cplusbarang',function(){
        var nilaipenampung = $(this).siblings('.cnilaibarang').text();
        var nilai = parseInt(nilaipenampung);
        nilai+=1;
        $(this).siblings('.cnilaibarang').html(nilai);
        paper_bucket["id_"+$(this).data("index")] = {id:$(this).data("id"),nilai:nilai,name:$(this).data("name"),price:$(this).data("price")};
    });

    $("#bucketskertas").on('click','.cminbarang',function(){
        var nilaipenampung2 = $(this).siblings('.cnilaibarang').text();
        var nilai2 = parseInt(nilaipenampung2);

        if(nilaipenampung2!=0){
            nilai2-=1;
            $(this).siblings('.cnilaibarang').html(nilai2);
        }

        paper_bucket["id_"+$(this).data("index")] = {id:$(this).data("id"),nilai:nilai2,name:$(this).data("name"),price:$(this).data("price")};
    });

    $("#btn_add_paper").click(function(){
        {{!-- console.log("paper_bucket");
        console.log(paper_bucket); --}}
        addPaper();
        $('#exampleModalCenter').modal('hide');
    });
    
    $("#plus").click(function(){
        jumalahpesan+=1;
        $('#nilai').html(jumalahpesan);
    });

    $("#min").click(function(){
        if(jumalahpesan!=0){
            jumalahpesan-=1;
            $('#nilai').html(jumalahpesan);
        }else{
            
        }
    });

    $(".bletakdesign").click(function(){
        var text = $( this ).text();
        $(".bletakdesign").removeClass("activebukuran2");
        $(this).addClass("activebukuran2");
        $('#titlemodalletakdesain').html(text);
    });

    $(".bukuran").click(function(){
        $(".bukuran").removeClass("activebukuran");
        $(this).addClass("activebukuran");

        var product_size = $(".bukuran.activebukuran").text();

        $.ajax({
            url: url_select_price,
            type: 'GET',
            data: {warna:product_color_new, size: product_size},
            success: function(data){
                $.each(data.data,function(key,value){
                    product_spec_id = value.product_id_spec;
                    item_net_cost = value.price;
                    $("#price_spec").html("Rp. "+value.price)
                });
            }
        });
    });


    $(".isikain li").click(function(){
        var colorval=$(this).data('value');
        $("#jeniskertasdropdown").html($(this).text());
    });

    let tmppath_f;
    let tmppath_b;
    
    $('#upload_costum_f').change(function(event) {
        tmppath_f = URL.createObjectURL(event.target.files[0])
        $('.image_f > img').fadeIn('fast').attr('src',tmppath_f);
        $('.image_f > img').css('display','');
        $('#infoupload_f').css('display','');
        $('.drag_text2_f').css('display','none');
    });

    $('#upload_costum_b').change(function(event) {
        tmppath_b = URL.createObjectURL(event.target.files[0])
        $('.image_b > img').fadeIn('fast').attr('src',tmppath_b);
        $('.image_b > img').css('display','');
        $('#infoupload_b').css('display','');
        $('.drag_text2_b').css('display','none');
    });

    $('div').on("click","#buploadgambar",function() {
        if(document.getElementById("upload_costum_f").files.length != 0){
            if($("#ulebar").val() == 0 || $("#utinggi").val() == 0 || $("#ulebar").val() == "" || $("#utinggi").val() == ""){
                Swal.fire({
                    title: 'Info',
                    text: "Fill Lebar & Tinggi Untuk Bagian Depan",
                    icon: 'info',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6'
                })
                return false;
            }
        }

        if(document.getElementById("upload_costum_b").files.length != 0){
            if($("#ulebar2").val() == 0 || $("#utinggi2").val() == 0 || $("#ulebar").val() == "" || $("#utinggi").val() == ""){
                Swal.fire({
                    title: 'Info',
                    text: "Fill Lebar & Tinggi Untuk Bagian Belakang",
                    icon: 'info',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6'
                })
                return false;
            }
        }

        if(document.getElementById("upload_costum_b").files.length != 0 ){
            $('.imagelogo_b').show();
            $('.imagelogo_b div > img').fadeIn('fast').attr('src',tmppath_b);
        }

        if(document.getElementById("upload_costum_f").files.length != 0 ){
            $('.imagelogo_f').show();
            $('.imagelogo_f div > img').fadeIn('fast').attr('src',tmppath_f);
        }

        getPaper($("#ulebar").val(),$("#utinggi").val(),$("#ulebar2").val(),$("#utinggi2").val() );
    });
    
    $("div.list-item").hover(function(){
        $(this).children( "a" ).css("color", "#5BC9E1");
        $(this).children( "a" ).children(".link").addClass("activebutton");
        $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
        $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");

        $(".list-item").click(function(){
            console.log("tidur");
            $(".list-item").children( "a" ).children("div").children("img:first-child").css("display","");
            $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
            $(".list-item").children( "a" ).children("div").children("img:nth-child(2)").removeClass("activebuttonimage");
            $(".list-item").children( "a" ).children("div").children(".description").removeClass("activebutton2");
            $(this).children( "a" ).children("div").children(".description").addClass("activebutton2");
            $(".link").removeClass("activebuttonon");
            $(this).children( "a" ).children(".link").addClass("activebuttonon");
            $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").addClass("activebuttonimage");
            $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
        });
        $("#foo").attr("src", "bar2.jpg");

        }, function(){
            $(this).children( "a" ).css("color", "#595552");
            $(this).children( "a" ).children(".link").removeClass("activebutton");
            if ($(this).children( "a" ).children("div").children("img:nth-child(2)").hasClass("activebuttonimage")){
                $(this).children( "a" ).children("div").children("img:first-child").css("display","none");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","");
            } else {
                $(this).children( "a" ).children("div").children("img:first-child").css("display","");
                $(this).children( "a" ).children("div").children("img:nth-child(2)").css("display","none");
            }   
    });

    $("#buttonminimize").click(function() {
        document.getElementById('sidebar').classList.toggle("hidesidebar");
        document.getElementById('buttonminimize').classList.toggle("movebutton");
        has = $("#buttonminimize").hasClass("movebutton");
        if (has){
            $(".sidebar .header .list-item").html("<img src='assets/images/nav/logo.png' style='width: 3.1vw; height:10vh;margin-left:8px;'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button2.png' class='icon' style='width: 40px;height: 40px;'>");
        }else{
            $(".sidebar .header .list-item").html("<img src='assets/images/logo2.png' style='width: 13vw; height:10vh'>");
            $("#buttonminimize").html("<img src='assets/images/nav/Button.png' class='icon' style='width: 40px;height: 40px;'>");
        }
    });

    $('#kaos').click(function(){
        window.location.href='/pos';
        return false;
    })

    $("#btn_in_bucket").click(function(){
        screenshot(false);
         Swal.fire({
            title: 'Info',
            text: "This item has been put into the bucket",
            icon: 'info',
            showCancelButton: false,
            confirmButtonColor: '#3085d6'
        }).then((result) => {
            if (result.isConfirmed) {
                location.reload();
            }
        })
    });

    $.ajax({
        url: '/products/'+idProducts,
        type: 'get',
        data: {  },
        success: function(data){
            $.each(data.data,function(key,value){
                $("#img_product_f").html(`<div id="tampungwarnabackground"><img id="produkpos" class="${value.class}" src="assets/images/pos/${value.pic}" style="height: 326px;width:326px;resize: both;"></div>`);
                $("#img_product_b").html(`<div id="tampungwarnabackground"><img id="produkpos" class="${value.class}" src="assets/images/pos/${value.pic}" style="height: 326px;width:326px;resize: both;"></div>`);
                $("#data-product-name").html(value.name);
                //item_net_cost = value.price;
            });
        },complete:function(){
            var jenisproduk=$('#produkpos').attr('class');
            var tampungselect = "";
            var tampungselect2 = "";
            var colorval=$(".isiwarna li").children("a").children("i").data('value');

            switch(jenisproduk){
                case 'kaos':
                tampungselect = "assets/images/kaos/bajudepan1.png";
                tampungselect2 = "assets/images/kaos/bajubelakang1.png";
                $("#img_product_f #produkpos").attr('src',tampungselect);
                $("#img_product_b #produkpos").attr('src',tampungselect2);

                $("#tampungwarnabackground #img_product_f").css('background-color',colorval);
                $("#tampungwarnabackground #img_product_b").css('background-color',colorval);
                //console.log(tampungselect);
                break;

                case 'sweater':
                tampungselect = "assets/images/kaos/sweaterdepan.png";
                tampungselect2 = "assets/images/kaos/sweaterbelakang.png";
                $("#img_product_f #produkpos").attr('src',tampungselect);
                $("#img_product_b #produkpos").attr('src',tampungselect2);

                $("#tampungwarnabackground #img_product_f").css('background-color',colorval);
                $("#tampungwarnabackground #img_product_b").css('background-color',colorval);
                break;

                case 'tank-top':
                tampungselect = "assets/images/kaos/tanktopdepan.png";
                tampungselect2 = "assets/images/kaos/tanktopbelakang.png";
                $("#img_product_f #produkpos").attr('src',tampungselect);
                $("#img_product_b #produkpos").attr('src',tampungselect2);

                $("#tampungwarnabackground #img_product_f").css('background-color',colorval);
                $("#tampungwarnabackground #img_product_b").css('background-color',colorval);
                break;

                case 'topi':
                tampungselect = "assets/images/kaos/topidepan.png";
                tampungselect2 = "assets/images/kaos/topibelakang.png";
                $("#img_product_f #produkpos").attr('src',tampungselect);
                $("#img_product_b #produkpos").attr('src',tampungselect2);

                $("#tampungwarnabackground #img_product_f").css('background-color',colorval);
                $("#tampungwarnabackground #img_product_b").css('background-color',colorval);
                break;

                case 'totebag':
                tampungselect = "assets/images/kaos/totebag.png";
                tampungselect2 = "assets/images/kaos/totebag.png";
                $("#img_product_f #produkpos").attr('src',tampungselect);
                $("#img_product_b #produkpos").attr('src',tampungselect2);

                $("#tampungwarnabackground #img_product_f").css('background-color',colorval);
                $("#tampungwarnabackground #img_product_b").css('background-color',colorval);
                break;

                case 'polo-cap':
                tampungselect = "assets/images/kaos/topidepan.png";
                tampungselect2 = "assets/images/kaos/topibelakang.png";
                $("#img_product_f #produkpos").attr('src',tampungselect);
                $("#img_product_b #produkpos").attr('src',tampungselect2);

                $("#tampungwarnabackground #img_product_f").css('background-color',colorval);
                $("#tampungwarnabackground #img_product_b").css('background-color',colorval);
                break;

                case 'panel-cap':
                tampungselect = "assets/images/kaos/topidepan.png";
                tampungselect2 = "assets/images/kaos/topibelakang.png";
                $("#img_product_f #produkpos").attr('src',tampungselect);
                $("#img_product_b #produkpos").attr('src',tampungselect2);

                $("#tampungwarnabackground #img_product_f").css('background-color',colorval);
                $("#tampungwarnabackground #img_product_b").css('background-color',colorval);
                break;

                case 'trucker-cap':
                tampungselect = "assets/images/kaos/topidepan.png";
                tampungselect2 = "assets/images/kaos/topibelakang.png";
                $("#img_product_f #produkpos").attr('src',tampungselect);
                $("#img_product_b #produkpos").attr('src',tampungselect2);

                $("#tampungwarnabackground #img_product_f").css('background-color',colorval);
                $("#tampungwarnabackground #img_product_b").css('background-color',colorval);
                break;
            }

            $("#tampakbelakang").click(function(){
                $("#clothes_with_logo_b").css("top","-320px");
                $("#clothes_with_logo_f").css("top","-1000px");
                //$('#produkpos').attr('src',tampungselect2)
            });

            $("#tampakdepan").click(function(){
                //$('#produkpos').attr('src',tampungselect)
                $("#clothes_with_logo_b").css("top","-1000px");
                $("#clothes_with_logo_f").css("top","0px");
            });
        }
    });

    var product_color = $("#titlebutton").children("i").attr("data-value");
    //console.log(product_color);
    function screenshot(isRedirect = true){
        //var pic_id = $("#clothes_with_logo");
        var product_pic_logo_f;
        var product_pic_logo_b;

        html2canvas(document.getElementById("clothes_with_logo_f"),{background: '#fff'}).then(function(canvas) {
            document.getElementById("clothes_with_logo_f").appendChild(canvas);
            // Get base64URL
            var base64URL = canvas.toDataURL('image/jpeg').replace('image/jpeg', 'image/octet-stream');
            var del_f = true, del_b = true;

            if(document.getElementById("upload_costum_f").files.length != 0 ){
                del_f = false;
            }

            if(document.getElementById("upload_costum_b").files.length != 0 ){
                del_b = false;
            }

            // AJAX request
            $.ajax({
                url: artomia_server_url+'/artomia_cap.php?del_status='+del_f,
                type: 'post',
                data: {image: base64URL},
                success: async function(data){
                    var jsonParsed = JSON.parse(data);
                    product_pic_logo_f = jsonParsed["product_pic_logo"];              
                
                    html2canvas(document.getElementById("clothes_with_logo_b"),{background: '#fff'}).then(function(canvas) {
                        document.getElementById("clothes_with_logo_b").appendChild(canvas);
                        // Get base64URL
                        var base64URL = canvas.toDataURL('image/jpeg').replace('image/jpeg', 'image/octet-stream');

                        // AJAX request
                        $.ajax({
                            url: artomia_server_url+'/artomia_cap.php?del_status='+del_b,
                            type: 'post',
                            data: {image: base64URL, status_del: del_b},
                            success: async function(data){
                                var jsonParsed = JSON.parse(data);
                                product_pic_logo_b = jsonParsed["product_pic_logo"];    
                                
                                console.log("product_pic_logo_f : "+product_pic_logo_f);
                                console.log("product_pic_logo_b : "+product_pic_logo_b);

                                //return false;
                                var product_name = $("#data-product-name").text();
                                var product_color = $("#titlebutton").children("i").attr("data-value");
                                var product_size = $(".bukuran.activebukuran").text();
                                var product_pic_logo = jsonParsed["product_pic_logo"];

                                // =  $(".isiwarna li").data("value");
                                //console.log(">>> product_color_new "+product_color_new);                  
                                //return false;

                                var paper_bucket_string = JSON.stringify(paper_bucket);
                                //console.log(paper_bucket);
                                //console.log(paper_bucket_string);
                                var data_f = new FormData($('#uploadForms_f')[0]);
                                var data_b = new FormData($('#uploadForms_b')[0]);
                                var logofilename_f, logofilename_b;
                                data_f.append("category", product_color_new);
                                data_b.append("category", product_color_new);
                                
                                
                                for (var pair of data_f.entries()) {
                                    console.log(pair[0]+ ', ' + pair[1]); 
                                }

                                if( document.getElementById("upload_costum_f").files.length != 0 ){
                                    await $.ajax({
                                        url:'/logoinsert',
                                        type: 'POST',
                                        data: data_f,
                                        contentType: false,
                                        processData: false,
                                        cache: false,
                                        success: function(res){
                                            //alert(res);
                                        },
                                        error: function(){
                                            alert('Error: In sending the request logo file!');
                                        },complete:function(res){
                                            logofilename_f = res.responseText;
                                        },
                                    });
                                }

                                if( document.getElementById("upload_costum_b").files.length != 0 ){
                                        await $.ajax({
                                        url:'/logoinsert',
                                        type: 'POST',
                                        data: data_b,
                                        contentType: false,
                                        processData: false,
                                        cache: false,
                                        success: function(res){
                                            //alert(res);
                                        },
                                        error: function(){
                                            alert('Error: In sending the request logo file!');
                                        },complete:function(res){
                                            logofilename_b = res.responseText;
                                        },
                                    });
                                }

                                console.log("logofilename_f : "+logofilename_f);
                                console.log("logofilename_b : "+logofilename_b);

                                //return false;

                                $.ajax({
                                    url: '/keranjang_add',
                                    type: 'get',
                                    data: {
                                        product_id: idProducts,
                                        product_spec_id:product_spec_id,
                                        product_name: product_name,
                                        product_color: product_color_new,
                                        product_size: product_size,
                                        product_pic_logo_f: product_pic_logo_f,
                                        product_pic_logo_b: product_pic_logo_b,
                                        item_net_cost:item_net_cost,
                                        item_amount:jumalahpesan,
                                        item_total_cost:item_net_cost * jumalahpesan,
                                        paper_bucket:paper_bucket,
                                        logo_f:logofilename_f,
                                        logo_b:logofilename_b,
                                        p_width:$("#ulebar").val(),
                                        p_height:$("#utinggi").val()
                                    },
                                    success: function(data){
                                        console.log('Upload successfully');
                                        if(isRedirect){
                                            window.location.href='/keranjang';
                                        }
                                    }
                                });                 
                            }
                        });
                    });  
                }
            });
        });  

       
    }
    //Number value only
    (function($) {
        $.fn.inputFilter = function(callback, errMsg) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop focusout", function(e) {
            if (callback(this.value)) {
                // Accepted value
                if (["keydown","mousedown","focusout"].indexOf(e.type) >= 0){
                $(this).removeClass("input-error");
                this.setCustomValidity("");
                }
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
                // Rejected value - restore the previous one
                $(this).addClass("input-error");
                this.setCustomValidity(errMsg);
                this.reportValidity();
                this.value = this.oldValue;
                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            } else {
                // Rejected value - nothing to restore
                this.value = "";
            }
            });
        };
    }(jQuery));
    $(document).ready(function() {
        $("#lebar, #tinggi").inputFilter(function(value) {
            return /^\d*$/.test(value);    // Allow digits only, using a RegExp
        },"Only digits allowed");

        $("#lebar, #tinggi").keyup(function(){
            if($("#lebar").val() !== "" && $("#tinggi").val() !== ""){
                getPaper($("#lebar").val(),$("#tinggi").val() );
            }
        })
    });
    //Number value only
    dragElement(document.getElementById("logoimage_f"));
    dragElement(document.getElementById("logoimage_b"));

    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id)) {
            /* if present, the header is where you move the DIV from:*/
            document.getElementById(elmnt.id).onmousedown = dragMouseDown;
        } else {
            /* otherwise, move the DIV from anywhere inside the DIV:*/
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            /* stop moving when mouse button is released:*/
            document.onmouseup = null;
            document.onmousemove = null;
        }
    };

    function addPaper(){
        $("#kertasdipilih").html("[Custom]");
        for(var key in paper_bucket) {
            var value = paper_bucket[key];
            //record = objectVar[key];
            //console.log("value");
            $("#kertasdipilih").append(value.name+" x "+value.nilai+" & ");
        }

        /*$.each(paper_bucket,function(key,value){  
            console.log("value");
            //console.log(value);
            //$("#kertasdipilih").append(value.name+" x "+value.nilai+" & ");
        });*/

        var divtext = $("#kertasdipilih").text();
        $("#kertasdipilih").html(divtext.slice(0,-2));
    }

    async function getPaper(lebar_f,tinggi_f,lebar_b,tinggi_b){
        var content = "";
        var nilai;
        var keyg=0;
        paper_bucket = {};

        if((lebar_f == lebar_b) && (tinggi_f == tinggi_b)){
            nilai = 2;
        }else{
            nilai = 1;
        }

        await $.ajax({
            url: '/papers/',
            type: 'get',
            data: { lebar:lebar_f,tinggi:tinggi_f},
            beforeSend:function(){
                //$("#bucketskertas").html("");
            },
            success: function(data){
                $.each(data.data,function(key,value){
                    content +=  `<div class="col-md-6 mt-2">
                            <div class="card" style="padding: 8px 16px;">
                                <div class="row">
                                    <div class="col-md-2" style="margin-right: 8px;">
                                        <img src="assets/images/pos/PETFilmA6.png" style="width: 57px; height:48px">
                                    </div>
                                    <div class="col-md-6">
                                        <div id="namapet" class="ht82 mt-1">${value.name}</div>
                                        <div id="hargapet" class="ht62 color-red">Rp. ${value.price}</div>
                                    </div>
                                    <div class="col-md-3" style="text-align: right;padding-top: 8px;">
                                        <i id="minmodal" data-name="${value.name}" data-price="${value.price}" data-index="${keyg}" data-id="${value.idpaper}" class="cminbarang fa-regular fa-square-minus" style="font-size: 20px;cursor: pointer;"></i>
                                        <b id="nilaijeniskertas" class="cnilaibarang" style="font-size: 20px; margin:0px 8px;">${nilai}</b>
                                        <i id="plusmodal" data-name="${value.name}" data-price="${value.price}" data-index="${keyg}" data-id="${value.idpaper}" class="cplusbarang fa-regular fa-square-plus" style="font-size: 20px;cursor: pointer;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>`;

                    paper_bucket["id_"+keyg] = {id:value.idpaper,nilai:nilai,name:value.name,price:value.price};    
                    keyg++;
                });
            }
        });

        if(!((lebar_f == lebar_b) && (tinggi_f == tinggi_b))){
            await $.ajax({
                url: '/papers/',
                type: 'get',
                data: { lebar:lebar_b,tinggi:tinggi_b},
                beforeSend:function(){
                    //$("#bucketskertas").html("");
                },
                success: function(data){
                    $.each(data.data,function(key,value){
                        content +=  `<div class="col-md-6 mt-2">
                                <div class="card" style="padding: 8px 16px;">
                                    <div class="row">
                                        <div class="col-md-2" style="margin-right: 8px;">
                                            <img src="assets/images/pos/PETFilmA6.png" style="width: 57px; height:48px">
                                        </div>
                                        <div class="col-md-6">
                                            <div id="namapet" class="ht82 mt-1">${value.name}</div>
                                            <div id="hargapet" class="ht62 color-red">Rp. ${value.price}</div>
                                        </div>
                                        <div class="col-md-3" style="text-align: right;padding-top: 8px;">
                                            <i id="minmodal" data-name="${value.name}" data-price="${value.price}" data-index="${keyg}" data-id="${value.idpaper}" class="cminbarang fa-regular fa-square-minus" style="font-size: 20px;cursor: pointer;"></i>
                                            <b id="nilaijeniskertas" class="cnilaibarang" style="font-size: 20px; margin:0px 8px;">${nilai}</b>
                                            <i id="plusmodal" data-name="${value.name}" data-price="${value.price}" data-index="${keyg}" data-id="${value.idpaper}" class="cplusbarang fa-regular fa-square-plus" style="font-size: 20px;cursor: pointer;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>`;

                        paper_bucket["id_"+keyg] = {id:value.idpaper,nilai:nilai,name:value.name,price:value.price};    
                        keyg++;
                    });
                }
            });
        }
        
        $("#bucketskertas").html(content);
        addPaper();
    }

    $('#perbesar').click(function(){
        enlargeImg();
    });
    $('#normal').click(function(){
        resetImg();
    });
    $('#perkecil').click(function(){
        minImg();
    });

    img = document.getElementById("logoimage_f");
    
    // Function to increase image size
    function enlargeImg() {
    // Set image size to 1.5 times original
        img.style.transform = "scale(1.5)";
        // Animation effect
        img.style.transition = "transform 0.25s ease";
    }
    // Function to reset image size
    function resetImg() {
    // Set image size to original
        img.style.transform = "scale(1)";
        img.style.transition = "transform 0.25s ease";
    }
    function minImg() {
    // Set image size to original
        img.style.transform = "scale(0.5)";
        img.style.transition = "transform 0.25s ease";
    }
</script>